extends partials/templates/_template.pug

block content
  +b.SECTION.page--front-page

    // Offers
    include partials/components/_offers.pug
    +e.page__inner
      .container
        .row
          .col-xs-12.col-lg-6
            // Specialists
            include partials/components/_specialists.pug 
          .col-xs-12.col-lg-6
            // Consult
            include partials/components/_consult.pug
    // Questions
    include partials/components/_questions.pug
    // Reviews
    include partials/components/_reviews.pug
    // Subscribe
    include partials/components/_subscribe.pug



