extends partials/templates/_template.pug

block content
  +b.SECTION.page--services
  - var pageServices = true
    // Services
    include partials/components/_services.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Subscribe
    include partials/components/_subscribe.pug



