extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план. Производство и продажа садовых фигур из гипса

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business9.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план. Производство и продажа садовых фигур из гипса

              +b.SECTION.key-data
                +e.H2.title Основные финансовые характеристики проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования (год) 
                    +e.figures 15%
                  +e.item 
                    +e.text Ставка дисконтирования (мес) 
                    +e.figures 1,171%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 5 месяцев
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 5 месяцев
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 260 758 руб.
                  +e.item 
                    +e.text Коэффициент рентабельности инвестиций
                    +e.figures 48,71%
                  +e.item 
                    +e.text Внутренняя норма прибыли
                    +e.figures 25,83%
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 1,14%


              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p Целью представленного бизнес-плана является открытие предприятия, которое будет специализироваться на производстве и последующей продаже садовых фигур из гипса. Предприятие откроется в городе с населением более 1 миллиона жителей. Задача проекта заключается в удовлетворении спроса населения на качественные изделия ландшафтного дизайна, декоративные элементы для сада, а также – в извлечении прибыли.
                      p Преимуществами данного проекта являются невысокая себестоимость продукции, а также низкий порог вхождения в данный бизнес. Чтобы организовать производственный процесс, необходимо грамотно подготовиться – арендовать производственные площади, складское помещение (общая площадь обоих будет составлять 70 квадратных метров), приобрести материалы и оборудование, а также овладеть техникой создания матриц (форм), отливки и покраски, а также обработки фигур.
                      p Начальные вложения составят 228500 рублей. Расчёты осуществлены в перспективе на три года деятельности. В соответствии с ними точки окупаемости проекта можно достичь через пять месяцев. В Таблице 1 можно ознакомиться с интегральными показателями эффективности. 

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p
                        | Украшать садовые участки различными фигурами начали ещё в 19 веке в Германии. Вскоре эта традиция настолько распространилась по всей стране, что ей стали интересоваться и жители иностранных государств, и в скором времени опыт германских подданных переняли садоводы России. Повышение спроса на декор для сада в последние годы объяснимо тем, что всё больше дачные участки воспринимаются нашими согражданами не как место для работы в огороде, а как место для отдыха. По информации ВЦИОМ, дачами и загородными домами владеют порядка 50% российских граждан. Помимо этого, всё более популярной становится покупка коттеджей – их количество стремительно растёт с каждым годом. Для того чтобы оформить свои участки красиво, их владельцы используют различные скульптуры из гипса, бетона, керамики, древесины и искусственного камня. Устанавливают данные формы на клумбах, около беседок, вдоль садовых дорожек, рядом с водоёмами и декоративными горками. На сегодняшний день на рынке представлено довольно большое многообразие продукции такого типа (как низкого, так и высокого качества), но неизменно на такие товары сохраняется высокий спрос.
                      p
                        | Данным проектом предусмотрена организация производства садовых фигур из гипса. Производство расположится в арендованном помещении в городе, население которого превышает один миллион человек. На начальном этапе необходимо осуществить подготовительные процедуры. Прежде всего, потребуется зарегистрировать ИП, пройти все надлежащие процедуры оформления и поставить компанию на налоговый учёт. Также следует освоить технику изготовления скульптурных форм из гипса. Помимо этого, приобрести всё необходимое оборудование, а также материалы. Завершительным этапом подготовки станет поиск, найм и обучение персонала.
                      p
                        | Готовые товары будут продаваться как в розницу через персональный интернет-ресурс, так и оптом (небольшими и крупными партиями) компаниям, которые занимаются розничной продажей изделий для сада, элементов декора, а также другой схожей продукцией. Стартовые вложения составят 228500 рублей. В Таблице 2 представлены основные статьи финансовых затрат.
                      p(style="text-align:right") Таблица 2. Инвестиционные траты проекта
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование
                          td
                            p Сумма, в рублях
                        tr
                          td(colspan='3')
                            p
                              i Оборудование
                              |  для производства
                        tr
                          td
                            p 1
                          td
                            p Набор оборудования
                          td
                            p 33500
                        tr
                          td(colspan='3')
                            p
                              i Нематериальные активы
                        tr
                          td
                            p 3
                          td
                            p Создание интернет сайта
                          td
                            p 75000
                        tr
                          td(colspan='3')
                            p
                              i Средства оборотные
                        tr
                          td
                            p 4
                          td
                            p Средства оборотные
                          td
                            p 80000
                        tr
                          td
                            p 5
                          td
                            p Закупка сырьевых материалов
                          td
                            p 40000
                        tr
                          td(colspan='2')
                            p Итого:
                          td
                            p 228500

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание товаров
                    +e.text
                      p
                        | Предприятие займётся изготовлением и продажей скульптур и фигур, предназначенных для украшения и декора садов и приусадебных территорий. Ассортимент также включит копилки, сувенирную продукцию. Отличительной чертой компании от конкурентов станет высокое качество производимой продукции, а также оригинальность исполнения. В том числе, для изготовления предприниматель собирается применять не покупные формы, а авторские. Благодаря тому, что себестоимость сырья низкая, на готовые товары установят большие наценки (234 процента). В Таблице 3 можно ознакомиться со списком основных типов продукции и конечными ценами на них.
                      p(style="text-align:right") Таблица 3. Перечень продукции, переменные издержки
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование продукции
                          td
                            p Затраты на единицу, в рублях
                          td
                            p Торговая наценка, в процентах
                          td
                            p Цена на одну единицу, в рублях
                        tr
                          td
                            p 1
                          td
                            p Гномы (садовые фигуры)
                          td
                            p От 75 до 659
                          td
                            p 234
                          td
                            p От 250 до 2200
                        tr
                          td
                            p 2
                          td
                            p Птицы (садовые фигуры)
                          td
                            p От 75 до 569
                          td
                            p 234
                          td
                            p От 250 до 1900
                        tr
                          td
                            p 3
                          td
                            p Животные (садовые фигуры)
                          td
                            p От 60 до 898
                          td
                            p 234
                          td
                            p От 200 до 3000
                        tr
                          td
                            p 4
                          td
                            p Грибы (садовые фигуры)
                          td
                            p От 75 до 449
                          td
                            p 234
                          td
                            p От 250 до 1500
                        tr
                          td
                            p 5
                          td
                            p Другое (сувенирная продукция, копилки, статуэтки)
                          td
                            p От 60 до 180
                          td
                            p 234
                          td
                            p От 200 до 600
                      p
                        | Основным материалом для производства данной продукции станет гипс скульптурный. Среди главных преимуществ данного материала можно выделить его небольшую стоимость, безопасность работы для персонала (этот материал не токсичен, не требует использование средств защиты, наличия вытяжек и так далее), лёгкость процесса производства (для него не требуется дорогостоящая производственная техника). Также этот материал довольно хрупкий, поэтому отдельное внимание необходимо уделить вопросам безопасного складирования, а также качеству и надёжности упаковочных материалов, перевозке готовых товаров.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p Сфера применения фигур из гипса довольно широка. Эти фигуры и скульптуры могут применяться не только для украшения садов и приусадебных территорий, но также их нередко используют при оформлении саун и бань, детсадов и школ, детских площадок, для благоустройства городских парков. Нередко эти фигуры несут не только эстетическую, но и практическую функцию – ими можно закрыть люки, замаскировать предметы, которые портят внешний вид пространства. В связи с этим и целевая аудитория довольно широка – это и владельцы коттеджей, загородных участков и дач, собственники городских частных домов и домовладений, садоводы, руководители детских образовательных и дошкольных заведений, руководство парков, владельцы саун и бань.
                      p Произведённые изделия решено продавать как в розницу через свой собственный сайт в интернете, так и оптом компаниям, которые занимаются реализацией товаров для сада, декоративных предметов и прочей смежной продукции. То есть, основными каналами для сбыта данной продукции станут:
                      ul
                        li Оптовые компании;
                        li Садовые магазины, отделы в магазинах, специализирующиеся на продаже садовой продукции;
                        li Магазины хозтоваров;
                        li Магазины, где продаются живые, комнатные, искусственные цветы;
                        li Сувенирные лавки;
                        li Интерьерные салоны;
                        li Предприниматели, которые продают продукцию вдоль автомагистралей;
                        li Строительные компании;
                        li Бани, кафе, парки;
                        li Учреждения детские.
                      p Для того чтобы осуществлять продажу товаров в розницу, решено создать свой сайт, интернет-магазин с электронным каталогом, где можно ознакомиться с ассортиментом продукции, с ценами на неё, а также выбрать товар, заказать его и оплатить. Для продвижения сайта, а также мотивирования покупки планируется использовать площадки компаний-партнёров, осуществлять закупка ссылок со специализированных ресурсов, которые посвящены ландшафтному дизайну. Помимо этого, компания примет участие в сельскохозяйственных ярмарках.
                      p В связи с тем, что данная продукция имеет ярко выраженную сезонность в плане спроса на неё, то в зимний период компания будет переходить на сувенирную продукцию и новогодний ассортимент.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p Процедура производства фигур из гипса предусматривает осуществление следующих шагов:
                      ol
                        li Подготовка смеси для производства.
                        li Заполнение полученной смесью матрицы (формы).
                        li Сушка продукции.
                        li Пропитка и обработка продукта.
                        li Покраска изделия.
                        li Обработка готовой фигуры лаком.
                      p
                        | Время на заливку и обработку занимает не много времени – порядка 5-20 минут. При этом сушка требует более длительного времени – на неё необходимо заложить три дня. То есть, весь процесс занимает трое суток. Для изготовления скульптур предприниматель создаст свой комплект интересных оригинальных форм, которые ранее не были не представлены на рынке.
                      p
                        | Для открытия производства решено арендовать помещение общей площадью 70 квадратных метров (на этой территории организуют производственное помещение и склад). В Таблице 4 представлено оборудование, которое потребуется, а также его стоимость.
                      p(style="text-align:right") Таблица 4. Необходимое оборудования
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование оборудования
                          td
                            p Цена, в рублях
                          td
                            p Стоимость, в рублях
                          tr
                            td
                              p 1
                            td
                              p Дрель
                            td
                              p 7000
                            td
                              p 14000
                          tr
                            td
                              p 2
                            td
                              p Компрессор
                            td
                              p 7000
                            td
                              p 7000
                          tr
                            td
                              p 3
                            td
                              p Краскопульты
                            td
                              p 2500
                            td
                              p 7500
                          tr
                            td
                              p 4
                            td
                              p Другое
                            td
                              p 5000
                            td
                              p 5000
                          tr
                            td(colspan='3')
                              p Итого:
                            td
                              p 33500
                      p
                        | Кроме указанной техники необходимо приобрести сырьевые материалы (лаки, краски, гипс, добавки для него). На это потребуются затраты в размере 40000 рублей.
                      p
                        | Плановый объём продаж для первого года работы – 600000 рублей (достичь этой суммы можно во время высокого сезона: май-июнь). На второй год работы планируется повысить оборот до 1000000 рублей. В низкий сезон (сентябрь-февраль) установлен план на 100000-300000 рублей для первого года и 200000-400000 рублей для следующего.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p
                        | В качестве организационно-правовой формы для предприятия выбрано ИП, а система налогообложения выбрана упрощённая УСН6%. Руководить компанией будет собственник – его обязанности заключаются в организации производственного процесса, контроль за работой персонала, составление рабочего графика, осуществление маркетинговых процессов по продвижению, поиск новых рынков сбыта. В штате будут работать три маляра и три литейщика, их график посменный, а оплата сдельная – она зависит от объёма работ. Бухгалтерию переведут на аутсорсинг.
                      p(style="text-align:right") Таблица 5. ФОТ и штатное расписание
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Должность
                          td
                            p Оклад, в рублях
                          td
                            p Количество человек
                          td
                            p ФОТ, в рублях
                        tr
                          td(colspan='5')
                            p
                              i Персонал производственный
                        tr
                          td
                            p 1
                          td
                            p Литейщик
                          td
                            p 12% от выручки
                          td
                            p 3
                          td
                            p 12% от выручки
                        tr
                          td
                            p 2
                          td
                            p Маляр
                          td
                            p 10% от выручки
                          td
                            p 3
                          td
                            p 10% от выручки
                        tr
                          td(colspan='5')
                            p
                              i Персонал вспомогательный
                        tr
                          td
                            p 3
                          td
                            p Складской сотрудник
                          td
                            p 22000
                          td
                            p 1
                          td
                            p 22000
                        tr
                          td(colspan='4')
                            p Итого:
                          td
                            p 22% от выручки
                            p + 22000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p
                        | Вложения в проект будут составлять 228500 рублей. Статьи финансовых затрат представлены в Таблице 2 данного бизнес-плана. Постоянные траты включат аренду, бухгалтерию, рекламу (более подробные сведения представлены в Таблице 6). Переменные траты – это выплата зарплаты, закупка сырьевых материалов, налоговые отчисления, доставка. Подробный план с указанием финансовых выручек находится в Приложении 1. Расчёты составлены при учёте особенностей спроса высокого и низкого сезона (наибольшие показатели с марта до августа и маленькие показатели с сентября по февраль).
                      p(style="text-align:right") Таблица 6. Затраты постоянные
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование
                          td
                            p Сумма в месяц, в рублях
                        tr
                          td
                            p 1
                          td
                            p Аренда помещения
                          td
                            p 50000
                        tr
                          td
                            p 2
                          td
                            p Бухгалтерия
                          td
                            p 5000
                        tr
                          td
                            p 3
                          td
                            p Реклама
                          td
                            p 10000
                        tr
                          td(colspan='2')
                            p Итого:
                          td
                            p 65000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Представленный проект имеет хороший инвестиционный потенциал – это подтверждается интегральными показателями эффективности, которые представлены в Таблице 1. Планируется, что точки окупаемости проект достигнет к пятому месяцу после открытия. Эффективность выбранного направления подтверждается NPV с показателем 260758, индексом доходности, который превышает 1 (PI 1,14), а также IRR, которая превышает ставку по дисконтированию и составляет 25,83.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p Ключевые риски представлены в Таблице 7.
                      p(style="text-align:right") Таблица 7. Вероятные риски, методы их предотвращения и методы предотвращения их последствий
                      table(border='1')
                        tr
                          td
                            p Риски
                          td
                            p Вероятность возникновения
                          td
                            p Степень последствий
                          td
                            p Методы предотвращения
                        tr
                          td
                            p Получение продукции низкого качества
                          td
                            p низкая
                          td
                            p высокая
                          td
                            p
                              | Обязательное освоение техники производства перед началом работ, соблюдение необходимых процессов производства, закупка сырья только высокого качества
                        tr
                          td
                            p Низкая рентабельность
                          td
                            p низкая
                          td
                            p высокая
                          td
                            p
                              | Грамотный подход к ценообразованию, ведение хорошей маркетинговой политики, постоянное расширение рынков сбыта
                        tr
                          td
                            p Появление серьёзных конкурентов
                          td
                            p средняя
                          td
                            p низкая
                          td
                            p
                              | Создание оригинальной продукции высокого качества по собственным литейным формам, поиск постоянных клиентов на старте работы
                        tr
                          td
                            p Убытки в низкий сезон
                          td
                            p низкая
                          td
                            p средняя
                          td
                            p
                              | Переход на продажу зимнего ассортимента продукции (статуэтки, скульптуры, копилки, новогодняя продукция)

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p ПРИЛОЖЕНИЕ №1 
                      p Производственный план и ключевые финансовые показатели в перспективе на три года  

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p Для реализации данного проекта необходимо получить пожарный сертификат и заключение СЭС на помещение. Также можно оформить добровольный сертификат на производимую продукцию, получить сертификат ИСО на услуги. Данные документы позволят быстро и эффективно продвинуть бизнес, сделают его более инвестиционно-привлекательным.
                      p Для получения необходимых сертификатов обращайтесь к специалистам нашего Единого портала бизнес услуг. Мы бесплатно проконсультируем вас, поможем разобраться в нюансах оценки качества, поможем сократить издержки на осуществление сертификации.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




