extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план: курсы китайского языка

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business5.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план: курсы китайского языка

              +b.SECTION.key-data
                +e.H2.title Основные финансовые характеристики проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования (год) 
                    +e.figures 20%
                  +e.item 
                    +e.text Ставка дисконтирования (мес) 
                    +e.figures 1,53%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 1 месяц
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 1 месяц
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 199 589 руб.
                  +e.item 
                    +e.text Коэффициент рентабельности инвестиций
                    +e.figures 157,41%
                  +e.item 
                    +e.text Внутренняя норма прибыли
                    +e.figures 114,15%
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 4,87%

              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p На сегодняшний день изучение китайского на территории Российской Федерации является достаточно перспективным направлением. Это обусловлено и геополитическими причинами, и ростом экономических взаимоотношений между нашими странами. Сегодня Китай является одним из основных союзников РФ во внешнеполитической сфере, а начиная с 2010-го года также является и ведущим внешнеторговым российским партнёром. Усиление связей с этой державой лучше всего подтверждают приведённые ниже показатели. На Рисунке 1 можно увидеть, как с 2002-го по 2014 годы оборот в области торговли между нашими странами увеличился (он повысился более чем десять раз).
                      p(style="text-align:right") Рисунок 1. Товарный оборот между КНР и РФ 2002-2016* гг.** 
                      p
                        img(src='img/offers/china1.png', alt='business', title='business')
                      p(style="text-align:right") *сведения на 2016 год указаны с помощью метода экстраполяции на основании информации двух первых кварталов
                      p(style="text-align:right") **по информации ФТС РФ 
                      p На Рисунке 1 можно увидеть, что после 2014 года объёмы товарооборота снизились, однако это можно расценить лишь как временное уменьшение, которое не отражает общей тенденции. Есть и ряд объективных причин, которыми данное снижение можно объяснить: снижение темпов роста российской и китайской экономик, общемировое ухудшение внешнеторговых условий, падение цены на энергоносители (которые составляют порядка семидесяти процентов от общего экспорта российской продукции в Китай), на сырьё, а также значительные колебания рубля к ведущим мировым валютам, в частности, и к юаню. Несмотря на наблюдаемый экономический кризис, специалисты прогнозируют дальнейший рост торговых отношений между государствами. По информации российского МИДа между РФ и КНР стоит амбициозная, но выполнимая задача – увеличить к 2020-му году объём товарооборота до 200 миллиардов долларов в год. Важно, что Китай сотрудничает с различными регионами – в том числе, он является и партнёром Ростовской области. По информации областной администрации, доля взаимоотношений с КНР в обороте внешней торговли региона достигает показателей от 6,2 до 9,2% в последние годы.
                      p(style="text-align:right") Рисунок 2. Количество туристов из Китая в РФ с 2000 по 2015 гг.* 
                      p
                        img(src='img/offers/china2.png', alt='business', title='business')
                      p(style="text-align:right") *по информации Росстата и Ростуризма 
                      p Усиление связи Китая и России также можно наблюдать и в иных сферах, к примеру, в туристической отрасли. По статистике заинтересованность туристов из КНР растёт, причём довольно быстро. На сегодняшний день нашу страну ежегодно посещает более одного миллиона китайцев. По количеству туристов, которые посетили РФ по информации на конец 2015-го года, китайцы уступают только украинцам, казахам, полякам и финнам. КНР также является популярным туристическим направлением и для граждан РФ – например, в 2015-м году страну посетило 1284000 россиян. Кроме того, власти Китая ведут переговоры с Правительством РФ об отмене виз между государствами.
                      p В связи с высоким взаимным интересом стран растёт и количество тех, кто хочет изучать китайский язык. По данным статистики на сегодняшний день в РФ китайский язык изучают более чем тридцать семь тысяч человек, и за последние несколько лет количество учеников выросло почти на десять тысяч. Китайский занял пятое место по популярности после английского, немецкого, испанского и французского среди студентов и учащихся в школах. Изучают язык в разных учебных заведениях – от общеобразовательных школ и вузов до институтов, курсов и классах Конфуция. Министерство образования РФ планирует к 2020-му году увеличить число студентов и школьников, которые будут участвовать в программах обмена с Китаем, до 100000 человек в год. Помимо этого, в двенадцати субъектах РФ в тестовом режиме школьникам предлагают выбрать одним из выпускных экзаменов ЕГЭ по китайскому языку или ГИА. Попробовать свои силы в ЕГЭ по китайскому школьники смогут только в 2018 году.
                      p Целью данного проекта является открытие курсов китайского языка в Ростове-на-Дону для удовлетворения спроса, который растёт с каждым годом, а также извлечение прибыли. Уроки будет проводить преподаватель, он же – собственник проекта, переводчик-востоковед, обладающий внушительным опытом работы по специальности в высших учебных заведениях, а также имеющий сертификат HSK пятого уровня. Среди шагов, которые необходимо будет осуществить для реализации проекта, необходимо выделить следующие:
                      ul
                        li Регистрация правовой формы (ИП), постановка в налоговых органах на учёт;
                        li Создание программы по обучению с указанием планов уроков;
                        li Поиск помещения, где будут располагаться курсы;
                        li Размещение объявлений в интернет-пространстве, создание страниц в социальных сетях.
                      p Курсы – это групповые и индивидуальные занятия на постоянной основе для людей разных возрастов. Основа программы – это проверенная, наработанная за долгое время программа обучения, которая выработана за период преподавания руководителя в высшем учебном заведении. Система обучения будет включать уроки, целью которых будет являться всестороннее полноценное изучение китайского, в том числе, практика устной речи, иероглифика, грамматика, чтение и перевод, аудирование и многое другое. Уроки будут проводиться как для тех, кто хочет изучить китайский с нуля, так и для тех, у кого есть определённый буфер знаний (полный прейскурант услуг можно увидеть в пункте номер 3 бизнес-плана «Описание услуг»).
                      p Место проведения уроков будет находиться в офисном помещении в центральной части города. Оно должно отвечать требованиям для проведения групповых занятий. Проведение индивидуальных занятий может также предполагать предоставление образовательных услуг на дому.
                      p Инвестиции в реализацию проекта на начальном уровне составят 41000 рублей. В Таблице 2 можно ознакомиться со статьями затрат. Для открытия курсов собственник проекта привлечёт собственные средства, вернуть которые сможет по итогам первого же набора в группы учеников за первый месяц работы курсов.
                      p(style="text-align:right") Таблица 2. Статьи инвестиционных затрат проекта 
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p НАИМЕНОВАНИЕ
                          td
                            p СУММА, руб.
                        tr
                          td(colspan='3')
                            p
                              i Оборудование
                        tr
                          td
                            p 1
                          td
                            p Покупка необходимой оргтехники, расходных материалов
                          td
                            p 12 000
                        tr
                          td(colspan='3')
                            p
                              i Нематериальные активы
                        tr
                          td
                            p 2
                          td
                            p Регистрация и оформление ИП
                          td
                            p 5 000
                        tr
                          td
                            p 3
                          td
                            p Расходы на создание программы обучения
                          td
                            p 6 000
                        tr
                          td
                            p 4
                          td
                            p Создание, раскрутка страниц в социальных сетях
                          td
                            p 8 000
                        tr
                          td(colspan='3')
                            p
                              i Средства оборотные
                        tr
                          td
                            p 5
                          td
                            p Средства оборотные
                          td
                            p 10 000
                        tr
                          td(colspan='2')
                            p Итого:
                          td
                            p 41 000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание услуг
                    +e.text
                      p
                        | Основная специализация – это предоставление образовательных услуг высокого качества, в частности, преподавание китайского языка детям и взрослым (Таблица 3). Клиенты смогут выбирать между индивидуальными и групповыми занятиями. Программа уроков будет нацелена на полноценное грамотное изучение китайского, включая практику устной и письменной речи, иероглифику, грамматику, чтение, синхронный устный и письменный перевод, аудирование. Отдельное внимание будет уделено требованиям Hanyu Shuiping Kaoshi (HSK) – стандартному квалификационному экзамену китайского для тех, кому данный язык не является родным. Помимо этого, будут осуществляться уроки по узкоспециализированным направлениям, например – деловая переписка, социально-политический перевод, деловой язык. Будут доступны корпоративные уроки.
                      p
                        | В ценовом сегменте курсы займут позицию ниже среднего. Данные расценки будут более привлекательны для клиентов по сравнению с существующими предложениями на рынке. К тому же привлекательная цена будет сочетаться с высоким качеством предоставляемых услуг. Существующие игроки на рынке услуг, а также конкурентные преимущества языковой школы подробно рассмотрены в разделе 4 «Продажи и маркетинг».
                      p(style="text-align:right") Таблица 3. Список услуг
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p УСЛУГА
                          td
                            p Описание
                          td
                            p СТОИМОСТЬ, руб.
                        tr
                          td
                            p 1
                          td
                            p Индивидуальные уроки (дети от 8 до 14 лет)
                          td
                            p 8 уроков в месяц (по 2 урока/неделю по 60 мин)
                          td
                            p 4 800
                        tr
                          td
                            p 2
                          td
                            p Индивидуальные занятие (взрослые)
                          td
                            p 8 занятий в месяц (по 2 урока/неделю по 60 мин)
                          td
                            p 5 200
                        tr
                          td
                            p 3
                          td
                            p Групповые уроки (дети)
                          td
                            p 8 занятий в месяц (по 2 урока/неделю по 60 мин)
                          td
                            p 3 600
                        tr
                          td
                            p 4
                          td
                            p Групповые уроки (для взрослых)
                          td
                            p 8 занятий в месяц (по 2 урока/неделю по 60 мин)
                          td
                            p 4 000
                        tr
                          td
                            p 5
                          td
                            p Корпоративные уроки
                          td
                            p Проведение уроков для юрлиц
                          td
                            p договорная
                        tr
                          td
                            p 6
                          td
                            p Уроки по индивидуальным программам
                          td
                            p
                              | Индивидуальные уроки по узким направлениям (например, деловая переписка, политический перевод, этикет делового общения и другое)
                          td
                            p договорная

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p Можно смело утверждать, что на сегодняшний день количество жителей Ростовской области и Ростова-на-Дону, которые хотят изучать китайский язык, растёт из года в год. Такой итог можно вынести при анализе статистики – людей, желающих выбрать китайский основным языком в рамках своего высшего образования, становится всё больше, а также растёт количество платных языков школ по этому направлению. Статистика ЯндексWordstat показывает, что поисковые запросы, которые связаны с поиском китайских курсов, составляет порядка двух тысяч по Ростовской области и более шести тысяч по Южному Федеральному Округу. Из этих запросов 400 приходятся на желающих изучать восточный язык именно в Ростове.
                      p
                        | В Ростове-на-Дону насчитывается немало компаний, которые предлагают горожанам обучиться китайскому языку (на сегодняшний день их несколько десятков), а также несколько десятков частных репетиторов. Однако, несмотря на обилие языковых школ и репетиторов, найти хорошие курсы очень трудно – качество образование низкое, а бизнес в данном сегменте на 4/5 теневой. Только несколько учебных заведений обладает квалифицированным преподавательским составом и предлагает нормальные по качеству услуги. Многие школы пытаются выдать носителя языка за профессионала в области педагогики, в то время как у человека такой опыт может отсутствовать полностью. Чаще всего, так называемые носители – это просто студенты одного из ростовских ВУЗов, приехавшие в Россию по обмену и практически не говорящие по-русски. Понятно, что о качественном преподавании в данном случае говорить не приходиться – чаще всего, такие преподаватели вовсе не заботятся об успехах своих учеников – больше их интересует возможность заработать в чужой стране деньги, приложив к этому минимальные усилия. Особо негативно это сказывается на тех учениках, которым необходимо выучить китайский язык для достижения определённой цели – для получения работы в Китае или в российском компании, торгующей с КНР.
                      p
                        | Также серьёзным недостатком стандартных языковых школ является системность предлагаемого обучения. Нехватка отечественных специалистов (только один ВУЗ в Ростове обучает на переводчиков-востоковедов) становится причиной, почему руководители таких учебных заведений хватаются на любых преподавателей китайского языка, которые к ним обращаются. Как правило, это оказываются люди, которые отлично знают китайский, но основной их деятельностью являются торговые отношения с Поднебесной, и их жизнь проходит в постоянных переездах из одной страны в другу. Этой категорией людей преподавание рассматривается только как временная подработка, поэтому знания их учеников получаются отрывистыми и с трудом применимыми на практике. К тому же, при таком подходе постоянно приходится возвращаться к ранее изученному материалу, и тратить на это драгоценное время. Чтобы выйти из этой непростой ситуации, многие школы предлагают проведение онлайн уроков посредством Скайпа, но этот вариант является совсем неэффективным из-за невозможности нормального ведения занятий по письменной речи, а также по ряду других причин.
                      p
                        | Цены на обучение китайского в Ростове могут варьироваться, но средняя цена колеблется в районе отметки в 600 рублей за групповые занятия и 850 – за индивидуальные. Обучение у репетитора составляет порядка 550 рублей. В Таблице 4 можно посмотреть расценки на услуги, предлагаемые языковыми школами и курсами Ростова.
                      p(style="text-align:right") Таблица 4. Стоимость обучения китайскому в языковых школах города Ростова
                      table(border='1')
                        tr
                          td
                            p Языковая школа
                          td
                            p Цена, в рублях
                            p за месяц
                            p (1 занятие)
                        tr
                          td
                            p Языковая школа 1
                          td
                            p Занятия групповые – 3 500 (входит 8 занятий по 60 минут)
                            p (437,5 рублей)
                        tr
                          td
                            p Языковая школа 2
                          td
                            p Занятия групповые – 3 800 (входит 8 занятий по 60 минут)
                            p (475 рублей)
                            p Занятия индивидуальные – 5 400 (водит 8 занятий по 60 минут)
                            p (675 рублей)
                        tr
                          td
                            p Языковая школа 3
                          td
                            p Занятия групповые — 8 400 (входит 8 занятий по 60 минут)
                            p (1050 рублей)
                        tr
                          td
                            p Языковая школа 4
                          td
                            p Занятия групповые - до 4 000 (входит 8 занятий по 60 минут)
                            p (до 500 рублей)
                            p Индивидуальные занятия -
                            p от 5 200 рублей
                            p (от 650 рублей)
                        tr
                          td
                            p Языковая школа 5
                          td
                            p Занятия групповые — 4 000 (входит 8 занятий по 45 минут)
                            p (500 рублей)
                        tr
                          td
                            p Языковая школа 6
                          td
                            p Занятия групповые — 6 000 (входит 8 занятий по 60 минут)
                            p (750 рублей)
                        tr
                          td
                            p Языковая школа 7
                          td
                            p
                              | Занятия групповые – 3 000 (входит 8 занятий по 80 минут - абонемент от 1-го года)
                            p (375 рублей)
                        tr
                          td
                            p Языковая школа 8
                          td
                            p Занятия групповые — от 4 000 (входит 8 занятий по 60 минут)
                            p (от 500 рублей)
                        tr
                          td
                            p Языковая школа 9
                          td
                            p Занятия групповые — от 6 400 (входит 8 занятий по 60 минут)
                            p (от 800 рублей)
                      p
                        | Ниже представлены конкурентные преимущества, которые будут применяться в работе курсов:
                      ul
                        li Наличие у преподавателя соответствующего образования и сертификатов HSK;
                        li Опыт работы преподавания китайского в серьёзном ВУЗе более пяти лет;
                        li Высокоразвитые коммуникативные навыки, способность найти к каждому человеку индивидуальный подход;
                        li Умение преподавать в больших группах по 20 и более человек (стандартные языковые школы отказываются от групп более пяти человек);
                        li  Проведение теста для определения уровня знаний языка конкретного человека;
                        li Постоянные занятия без перерывов на командировки и отъезды, на другую работы;
                        li Высокая заинтересованность в достижении качественного результата, набор в группы и на индивидуальные занятия на долгие сроки;
                        li  Наличие результатов (многие студенты руководителя проекта уехали учиться и/или работать в Китай, успешно сдали экзамен HSK);
                        li Доступная ценовая политика.
                      p
                        | Для того чтобы найти учеников будут применяться и связи преподавателя, появившиеся за долгие годы работы в университете, и дополнительные средства. Прежде всего, будут созданы страницы в распространённых социальных сетях (Instagram, Facebook, Вконтакте), а в процессе развития школы – создание отдельного сайта. Это важно, так как именно в виртуальном пространстве клиенты больше всего узнают о курсах китайского. Кроме того, на бесплатных форумах, рекламных площадках будут размещены объявления, а по городу будет осуществляться раздача листовок.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p В первые шесть месяцев по плану необходимо набирать минимум две группы по пять человек (взрослую и детскую), а также брать трёх человек для оказания услуг по индивидуальному обучению. При таком уровне загрузки выручка будет составлять порядка 53000 рублей, а чистая прибыль при учёте затрат на аренду помещения, расходники, на транспорт, а также отчисления в налоговую (это 6 процентов от выручки) будет составлять около 41000 рублей.
                      p При проведении занятий на дому аренда помещений не потребуется, но проведение групповых занятий потребует почасовой аренды офиса порядка 20 квадратных метров, которая обойдётся в 400 рублей за один час. Как только число клиентов увеличится, офис будет арендован помесячно.
                      p Для осуществления уроков необходимо будет приобрести технику – МФУ (сканер, копировальная машина, принтер) за 6 тысяч рублей, аудиопроигрыватель для уроков по аудированию за 2,5 тысячи рублей и расходные материалы (в основном, канцелярию – маркеры, бумагу).

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p Работа курсов будет полностью легализована – для этого собственник проекта получит статус индивидуального предпринимателя по ОКВЭД 85.42.9 (Дополнительное образование профессиональное, не включённое в другие группы). Формально данный вид деятельности представляет трудовую индивидуальную работу (педагогика, репетиторство), поэтому по Закону РФ «Об образовании» этот вид деятельности лицензированию не подлежит.
                      p На старте потребуется время на подготовку периодов в 2 месяца, которые будут потрачены на регистрацию правовой формы (ИП), постановку на налоговый учёт, создание программы обучения с чётким планом уроков (для этого необходимо будет структурировать, систематизировать преподавательский опыт руководителя), создать страницы курсов в социальных сетях, провести их раскрутку для того чтобы собрать первый набор в группы, а также выложить в виртуальном пространстве рекламные объявления о старте курсов. Начало деятельности запланировано на сентябрь 2017. Это объясняется тем, что именно на июль-октябрь приходится пик поисковых запросов о поиске преподавателей китайского языка (что вполне объяснимо, так как это происходит в других областях образования).
 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p Начальные вложения в реализацию проекта будут составлять порядка 41000 рублей. Основные статьи расходов указаны в Таблице 2 представленного плана. В текущие затраты включат расходы на транспорт, приобретение расходников, арендную плату. В Приложении 2 содержатся финансовые расчеты, которые сделаны с перспективой на три года при следующей загрузке:
                      ul
                        li С 1 по 6 месяц работы курсов будет две группы (детская и взрослая по 5 человек), а также три ученика для индивидуальных занятий;
                        li С 7 по 12 месяц работы курсов будет две группы (детская и взрослая по 5 человек), а также пять учеников для индивидуальных занятий;
                        li С 13 по 18 месяц работы курсов будет три группы (детская и две взрослые по 5 человек каждая), а также пять учеников для индивидуальных занятий;
                        li С 19 по 36 месяц работы курсов будет три группы (детская и две взрослые по 5 человек каждая), а также семь учеников для индивидуальных занятий.
                      p На момент набора трёх групп станет целесообразно арендовать офис помесячно (его арендная плата составит 8 тысяч рублей).

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Представленный проект эффективен – это подтверждается сделанными расчётами, а также характеристиками эффективности, которые приведены в Таблице 1. Стартовые вложения в проект минимальны, поэтому собственник проекта может рассчитывать на достижение точки окупаемости уже через один месяц. В связи с этим показатель рентабельности находится на отметке 157%. Индекс прибыльности чуть превышает отметку 1, чистая приведённая стоимость находится на положительной отметке, а внутренняя нормы прибыльности превосходит ставку дисконтирования.                      

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p При открытии курсов риски небольшие, так как собственник не будет вкладываться в недвижимость, нанимать персонал, приобретать дорогое оборудование. Текущие затраты также не будут большими. Основной ресурс, который будет применён – это знания собственника проекта, которые необходимо хорошо подать. В Таблице 5 можно ознакомиться с перечнем возможных рисков.
                      p(style="text-align:right") Таблица 5. Вероятные риски, а также методы их предотвращения и предотвращения их последствий
                      table(border='1')
                        tr
                          td
                            p Факторы риска
                          td
                            p Вероятность наступления
                          td
                            p Степень тяжести последствий
                          td
                            p Мероприятия по предотвращению
                        tr
                          td
                            p Недостаточный набор в группы учеников
                          td
                            p средняя
                          td
                            p средняя
                          td
                            p
                              | Привлечение новых клиентов комплексными способами, создание групп в соцсетях, небольшого сайта-визитки; размещение печатных и электронных объявлений, применение собственных связей
                        tr
                          td
                            p Значительный рост числа конкурентов
                          td
                            p низкая
                          td
                            p низкая
                          td
                            p
                              | Позиционирование руководителя как преподавателя с большим опытом, а также необходимой квалификацией; работа на качественный результат, создание положительного образа с первых месяцев работы; конкурентоспособная цена, применение всех конкурентных преимуществ
                        tr
                          td
                            p Уменьшение выручки в низкий сезон
                          td
                            p средняя
                          td
                            p низкая
                          td
                            p
                              | Снижение расценок во время низкого сезона, предоставление скидок клиентам на летнее обучение, сезонные подработки в смежных областях (переводческая деятельность), поиск крупных корпоративных клиентов
                        tr
                          td
                            p Увеличение арендной платы
                          td
                            p средняя
                          td
                            p низкая
                          td
                            p Выбор самого оптимального варианта аренды по цене, смена офиса
                        tr
                          td
                            p Претензии от проверяющих органов, от налоговой
                          td
                            p низкая
                          td
                            p низкая
                          td
                            p
                              | Деятельность в полностью легальном поле, наличие регистрации в качестве ИП, уплата налогов

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p ПРИЛОЖЕНИЕ №1 
                      p Количество поисковых запросов, которые связаны с изучением китайского языка. Данные Яндекс.Wordstat  
                      p ПРИЛОЖЕНИЕ №2 
                      p Производственный план производства. Финансовые показатели в перспективе на три года  

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p Для открытия подобного бизнеса может потребоваться получение сертификата на услуги, получить который можно в добровольном порядке. Хотя лицензированию этот вид образовательной деятельности не подлежит, во многих случаях перед открытием курсов, секций преподаватели предпочитают получить для своей компании разрешительные документы. Добровольный сертификат значительно укрепит имидж компании, повысит заинтересованность курсами со стороны потенциальных клиентов и инвесторов. При этом получить сертификат совсем не трудно – это помогут сделать на Едином портале Бизнес услуг. Специалисты проконсультируют вас и подберут оптимальную схему проведения оценки качества.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




