extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план: частный музей шоколада

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business2.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план: частный музей шоколада

              +b.SECTION.key-data
                +e.H2.title Основные финансовые характеристики проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования 
                    +e.figures 22%
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 3 272 657 руб.
                  +e.item 
                    +e.text Чистая прибыль проекта
                    +e.figures 113 088 - 373 207 руб.
                  +e.item 
                    +e.text Рентабельность продаж
                    +e.figures 8,36%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 19 месяцев
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 22 месяц
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 1,16%
                +e.footnote *рассчитано при усреднённой посещаемости заведения 2000 человек в месяц, а также при продажах шоколада от 5 до 15 кг за один день 

              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p Целью проекта является открытие музея шоколада и предоставление услуг в области культурного и познавательного досуга, а также извлечение прибыли. Заведение должно включать в себя экспозицию, которая посвящена истории продукта, а также интерактивные мероприятия – классы по изготовлению шоколада для посетителей. Кроме того, при музее будет открыт магазин, где можно будет приобрести изделия из шоколада ручной работы.
                      p Расположится музей в центре города с населением от 1 миллиона человек. Площадь заведения будет составлять 250 квадратных метров. Гостями заведения будут горожане, а также приезжие и туристы любых возрастов, которые интересуются особенностями приготовления и историей шоколада, любят его вкус. Целевая аудитория – семьи с детьми, молодые пары, молодёжь, а также люди пожилого возраста.
                      p Общая сумма инвестиций в открытие заведения составит 2828000 рублей. Реализация проекта будет осуществлена на собственные средства. Выход на окупаемость проекта рассчитан через 19 месяцев. Основные расчёты плана осуществлены на три года работы музея-магазина. Основополагающим условием, учтенным в бизнес-плане, стало наличие у собственника данного проекта коллекции, которая посвящена истории появления шоколада.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p Музей шоколада не похожи на традиционные музейные экспозиции и выставки, которые в последнее время пользуются не очень большой популярностью среди широких масс населения. Музеи шоколада – это особые заведения, где можно узнать много интересного об этом продукте, а главное – продегустировать его и попробовать приготовить самостоятельно. Такие заведения нередко становятся городскими достопримечательностями и привлекают не только детей и подростков, но и взрослое население. Самые популярные музеи шоколада находятся в странах Европы – например, Castle of Harze в Брюгге (Бельгия) или Кёльнский музей шоколада. Многие приезжают в город только ради того, чтобы посетить эту удивительную миниатюрную фабрику, прогуляться по оранжерее, где выращивают какао-бобы, кофе и ваниль. Не менее популярны подобные заведения в Барселоне, Париже, Праге. Но не только в Европе любят шоколад – известные музеи расположились и по ту сторону океана – в Мехико, в Пенсильвании, в Нью-Йорке. На Дальнем Востоке ветвь первенства по праву может забрать Южная Корея – именно в Сеуле расположен один из крупнейших музеев шоколада во всей Азии.
                      p В России наиболее популярны музеи шоколада в Москве (это музей «Мишка» на основе музеев фабрик «Красный Октябрь», «Кондитерский концерн Бабаевский» и «РотФронт»), в Покрове (от кондитерского завода «Крафт»), в Симферополе (музей Nikolya, в котором все товары изготовлены из настоящего бельгийского шоколада вручную). Помимо этого, на Триумфальной площади в Москве недавно открылся Музей истории шоколада в России: его экспозиция насчитывает порядка 15000 экспонатов, а ещё около 10 тысяч находится в запаснике. Также ежегодно проводится множество небольших выставочных мероприятий на фабриках, при магазинах и салонах – они пользуются большой популярностью, хотя нередко вся экспозиция умещается в один зал.
                      p Цель представленного проекта – создание частного музея шоколада, в рамках работы которого будут оказываться услуги в области познавательного и культурного досуга. Одной из целей, безусловно, является извлечение прибыли. Площадь заведения будет составлять 250 квадратных метров, а располагаться музей будет в центре города с населением не менее миллиона человек. В рамках проекта будет создана экспозиция на тему истории шоколада, а также каждый посетитель сможет поучаствовать в интерактивных мастер-классах по приготовлению этого лакомства. Также можно будет продегустировать шоколад и приобрести изделия из шоколада ручной работы в магазине при музее. Как упомянуто в резюме, основными посетителями станут семьи с детьми, влюблённые пары, люди пожилого возраста, а также все те, кто любит шоколад и интересуется историей и способами его приготовления. Одним из преимуществ, которое будет отличать заведение от классических музеев, станет особенная атмосфера – ведь посетителям будут предложены не только экскурсионные услуги и покупка шоколадные изделий: они смогут получить реальные эмоции, почувствовать себя настоящим шоколатье, создавая собственную фигурку из вкуснейшего шоколада.
                      p Несмотря на своё название, музей такого формата – это организация коммерческая, поэтому для его открытия потребуется создание юридического лица – ООО (Общества с ограниченной ответственностью). В качестве формы налогообложения будет выбрана упрощённая система УСН15%. Что касается кодов ОКВЭД, то для данного вида деятельности это 91.02 (Наименование: Услуги Музеев) и 52.24.22 (Наименование: Розничная торговля кондитерскими изделиями сахаристыми, включая шоколад). Согласно системе управления заведением руководителем будет директор, которому, в свою очередь, будут подчиняться шоколатье, продавцы шоколадного магазина, кассовые сотрудники и экскурсоводы выставочного зала.                      
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание услуг
                    +e.text
                      p Работы, представленные в выставочном зале, будут иметь прямое отношение к истории шоколада в России. Данные работы собраны на основе частной коллекции собственника проекта – в частности, приобретены им у коллекционеров, на антикварных рынках и выставках. Это старинные фантики от конфет, обёртки от шоколадок разных времён – по ним можно проследить не только историю шоколада, но и историю России. Помимо упаковок на выставке будут представлены образцы старинной рекламы, посуда для приготовления и хранения шоколадных изделий, фигуры из данного продукта и многое другое.
                      p Важным этапом посещения музея станет возможность продегустировать продукцию. Предварительная экскурсия по экспозиции будет настроена на «разогревание аппетита», после чего посетитель будет попадать на интерактивную часть, где можно будет пробовать продукцию и самостоятельно изготавить фигурки из шоколада. Также на выходе можно будет купить уже готовую вручную сделанную продукцию. В процессе мастер-классов посетители смогут изготавливать фигуры, лить плитки, создавать конфеты с любой понравившейся им начинкой. Весь товар, который будет продаваться в магазине, будет производиться прямо в музее – в специальном мини-цеху. Ассортимент шоколадной лавки будет обновляться, адаптироваться под сезонные праздники – например, перед Новым годом будут предлагаться символы наступающего года, а перед 14 февраля в магазине можно будет приобрести фигурки на любовную тематику.
                      p В Таблице 1 приведены цены на услуги музея
                      p(style="text-align:right") Таблица 1. Список услуг
                      table(border='1')
                        tr
                          td №
                          td Наименование услуги
                          td Описание услуги
                          td Стоимость
                        tr
                          td 1
                          td Взрослый входной билет
                          td Посещение музея
                          td 150 рублей
                        tr
                          td 2
                          td Детский входной билет (для детей до 10 лет)
                          td Посещение музея
                          td 100 рублей
                        tr
                          td 3
                          td Детский входной билет (для детей до 5 лет)
                          td Посещение музея
                          td бесплатно
                        tr
                          td 4
                          td Экскурсия по музею
                          td Экскурсия с экскурсоводом. Длительность – от 30 до 40 минут
                          td 200 рублей
                        tr
                          td 5
                          td Посещение музея группами
                          td Посещение музея шоколада организованными группами (например, детские сады, общеобразовательные школы, различные коллективы учреждений)
                          td 120 рублей с человека
                        tr
                          td 6
                          td Посещение музея группами + экскурсия
                          td Посещение музея шоколада организованными группами по несколько человек + услуги экскурсовода
                          td 150 рублей с человека
                        tr
                          td 7
                          td Мастер-класс по приготовлению шоколадной плитки
                          td Мастер-класс от шоколатье по приготовлению шоколадной плитки
                          td 150 рублей
                        tr
                          td 8
                          td Мастер-класс по приготовлению фигурного шоколада
                          td Мастер-класс от шоколатье по приготовлению фигурного шоколада
                          td 250 рублей
                        tr
                          td 9
                          td Праздник в музее
                          td Организация праздничного мероприятия в музее шоколада – к примеру, дня рождения, открытого урока или корпоратива
                          td договорная
                        tr
                          td 10
                          td Входной билет для пенсионеров
                          td Посещение музея пенсионерами (при предъявлении пенсионного документа)
                          td 100 рублей
                        tr
                          td 11
                          td Дегустация
                          td Дегустация шоколадных изделий ручной работы
                          td 100 рублей
                      p Отдельных разрешений на оказание услуг получать не нужно. Потребуется согласовать деятельность с такими ведомствами как СЭС и Пожарная инспекция. По требованиям СЭС на производстве продукции любого типа должно быть установлено горячее и холодное водоснабжение, отопление и вентиляционная система. Что касается цеха по производству, то на его стенах необходимо будет установить плитку кафельную по высоте до полутора метров, а оставшуюся часть стены покрыть нетоксичной краской.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p Целевая аудитория музея – посетители разных возрастных категорий, которые любят шоколад. По статистическим данным, в России только 19% населения относится к этому лакомству равнодушно, в то время как 79% едят шоколад достаточно часто. В среднем, гражданин РФ съедает в год порядка 4 кг и 150 г шоколада (по данным Центра исследований кондитерского рынка). По сравнению с жителями Германии и Швейцарии, которые съедают по 12,2 и 11,7 кг шоколада ежегодно, показатель сравнительно небольшой. Однако приведённые цифры служат причиной для весьма оптимистических прогнозов – ведь это значит, что рынку есть куда расти.
                      p Если взрослое население будет больше заинтересовано именно в экскурсии, в получении новых знаний о шоколадной продукции и изучении экспонатов, многие из которых заставят их вспомнить о своей молодости, то для детей наиболее интереса будет именно интерактивная часть, в рамках которой можно будет изготовить шоколадку самостоятельно. Хоть музеи шоколада и являются для русского человека чем-то новым, и во многих городах РФ подобных заведений ещё нет, опыт иностранных музеев такого типа рассказывает исключительно о положительной практике. В рамках данного проекта будет учитываться опыт уже существующих заведений, работа музея будет построена с учётом как достоинств, так и недостатков действующих заведений. Ниже перечислены достоинства и недостатки, о которых говорят посетители музеев шоколада.
                      p Положительные стороны:
                      ol
                        li Экскурсия по экспозиции: интересно, нескучно, познавательно, удобно, что есть хронологический порядок.
                        li Мастер-классы, возможность изготовить шоколад самостоятельно, возможность наблюдать за процессом приготовления.
                        li Много интерактива: экспонаты можно потрогать, понюхать.
                        li Есть возможность приобрести готовый продукт как сувенир – например, в подарок.
                        li Приятный аромат, по выставке «вкусно» гулять, появляется аппетит и желание купить шоколадку.
                        li Дружелюбные сотрудники, интересные рассказчики.
                        li Удобное расположение – в самом центре и рядом с основными достопримечательностями города.
                        li Красивое, стильное оформление интерьера.
                      p Негативные стороны:
                      ol
                        li В музей не хочется вернуться второй раз по различным причинам (экспозиция слишком маленькая, экскурсия скучная, не стоит своих денег и так далее).
                        li Внутренние помещения неудобно расположены (недостаточно света, тесно).
                        li Подача материала оставляет желать лучшего, слишком много текста, непонятный мелкий шрифт, фотографии чёрно-белые, экскурсии монотонные).
                        li Высокие цены на продукцию.
                        li Плохой, невкусный шоколад.
                      p По опыту уже действующих музеев решено открыть на территории заведения магазин с изделиями из шоколада ручной работы. Все изделия будут изготавливаться в небольшом цеху – причём они будут производиться не только на продажу в шоколадной лавке, но и для сторонних заведений (запланировано партнёрство с кондитерскими, кофейнями, кафе и ресторанами города).
                      p К информированию об открытии музея планируется привлечь СМИ (в частности, телевидение и радио). В честь открытия будет осуществлена акция с подарками для всех пришедших. Также для музея будет создан интернет-сайт, в основных социальных сетях (контакт, фейсбук, твиттер, трипадвизор, форсквейр) будут созданы страницы. Концепция заведения предполагает активное проведение мастер-классов и акций, мероприятий, а также предоставление кейтеринговых услуг.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p Музей расположится в центре города, его площадь составит 250 квадратных метров. Работать заведение будет с 10 утра до 7 вечера. Выходной день будет в понедельник. Технология функционирования музея будет простая – при входе будет установлена касса, где клиенты смогут купить билеты и взять экскурсию или посетить музей самостоятельно. При музейном пространстве будет работать мини-цех на постоянной основе, где будет производиться шоколад ручной работы и где будут проводить мастер-классы. В прикассовой зоне на выходе можно будет купить шоколадный сувенир.
                      p Площадь помещений составит 250 квадратных метров, из которых 180 будет отдано под выставочные залы, 30 – под мини-цех, 25 – под гардероб и кассу, 10 под директорский кабинет и 5 – под санузел. Помещение не является собственностью, оно будет взято в аренду на долгосрочной основе. Для открытия потребуется провести ремонт на 200 тысяч рублей. Закупка оборудования и техники потребует 2228000рублей. Большая часть из этих средств пойдёт на оснащение цеха по производству шоколадных изделий. Подобная информация о затратах приведена в Таблице 2.
                      p(style="text-align:right") Таблица 2. Затраты на музейное оборудование*
                      table(border='1')
                        tr
                          td №
                          td Наименование
                          td Цена, в рублях
                          td Кол-во, в шт.
                          td Стоимость, в рублях
                        tr
                          td(colspan='5')
                            i Оборудование для мини-цеха
                        tr
                          td 1
                          td Темперирующая машина производственная, 90 кг/час, ёмкость 24 кг, размеры 480х9701450 мм
                          td 1540000
                          td 1
                          td 1540000
                        tr
                          td 2
                          td Меланжер 900 об/минуту, 500x300x280 мм
                          td 50000
                          td 1
                          td 47000
                        tr
                          td 3
                          td Оборудование холодильное
                          td 25000
                          td 1
                          td 25000
                        tr
                          td 4
                          td Металлический стеллаж
                          td 3000
                          td 2
                          td 6000
                        tr
                          td 5
                          td Мясорубка
                          td 12000
                          td 1
                          td 12000
                        tr
                          td 6
                          td Металлический стол
                          td 2500
                          td 1
                          td 2500
                        tr
                          td 7
                          td Кухонные весы
                          td 1500
                          td 1
                          td 1500
                        tr
                          td 8
                          td Прочее (в частности, формы для производства фигурного шоколада, посуда, лопатки, скребки и так далее)
                          td 15000
                          td 1
                          td 15000
                        tr
                          td(colspan='5')
                            i Выставочные залы
                        tr
                          td 9
                          td Витрины для экспонатов
                          td 9000
                          td 28
                          td 252000
                        tr
                          td 10
                          td Скамейки, предназначенные для посетителей
                          td 8000
                          td 2
                          td 16000
                        tr
                          td 11
                          td Оборудование световое
                          td 10000
                          td 1
                          td 10000
                        tr
                          td(colspan='5')
                            i Прикассовая зона
                        tr
                          td 12
                          td Витрина
                          td 20000
                          td 1
                          td 20000
                        tr
                          td 13
                          td Торговый стеллаж
                          td 7000
                          td 2
                          td 14000
                        tr
                          td 14
                          td Зеркало
                          td 4000
                          td 1
                          td 4000
                        tr
                          td 15
                          td Зона гардеробная
                          td 15000
                          td 1
                          td 15000
                        tr
                          td 16
                          td Кассовая мебель
                          td 15000
                          td 1
                          td 15000
                        tr
                          td(colspan='5')
                            i Прочее
                        tr
                          td 17
                          td Фасадная вывеска
                          td 25000
                          td 1
                          td 25000
                        tr
                          td 18
                          td Униформа работников для мастер-классов
                          td 3000
                          td 10
                          td 30000
                        tr
                          td 19
                          td Униформа остальных сотрудников
                          td 6000
                          td 8
                          td 48000
                        tr
                          td 20
                          td Печатные материалы, брошюры, указатели, таблички
                          td 10000
                          td 1
                          td 10000
                        tr
                          td 21
                          td Декоративные предметы
                          td 10000
                          td 1
                          td 10000
                        tr
                          td 22
                          td Мебель в директорский кабинет
                          td 80000
                          td 1
                          td 80000
                        tr
                          td 23
                          td Другое
                          td 30000
                          td 1
                          td 30000
                        tr
                          td(colspan='4') Итого:
                          td 2228000
                      p *в затраты на музейное оборудование не включены затраты на сами экспонаты (они являются собственностью руководителя проекта)
                      p Грамотная полноценная работа заведения потребует штат, состоящий минимум из 7 человек. Помимо директора, потребуются следующие сотрудники: работники кассы, шоколатье, продавцы в магазин, экскурсоводы и сотрудники для выставочного зала. На первое время с целью экономии средств можно объединить кассу и магазин шоколада. Охрана и бухгалтерия будут на аутсорсинге. График работы сотрудников сменный (за исключением директора компании). В Таблице 3 приведён фонд оплаты труда.
                      p(style="text-align:right") Таблица 3. Фонд оплаты труда
                      table(border='1')
                        tr
                          td №
                          td Должность сотрудника
                          td Кол-во, чел.
                          td ФОТ, в рублях
                        tr
                          td 1
                          td Директор музея
                          td 1
                          td 33000
                        tr
                          td 2
                          td Работник экспозиции/экскурсовод
                          td 2
                          td 20000
                        tr
                          td 3
                          td Шоколатье
                          td 2
                          td 25000
                        tr
                          td 4
                          td Продавец-кассир
                          td 2
                          td 18000
                        tr
                          td(colspan='3') Итого:
                          td 159000
                        tr
                          td(colspan='3') Налоговые отчисления:
                          td 47700
                        tr
                          td(colspan='3') Итого с налоговыми отчислениями:
                          td 206700
                      p Общая выручка заведения по представленному проекту будет зависеть от посещаемости экспозиции, от количества людей, посещающих мастер-классы, дегустации и от объёмов продаж в сувенирной лавке. В случае, если посещаемость будет достигать 2 тысяч человек за один месяц и при среднем чеке от 200 рублей, объёмах продаж шоколадной продукции от 5-ти кг/день при стоимости 150 рублей за 100 грамм чистая прибыль музея будет составлять более 100 тысяч рублей в месяц. Если рекламные работы начнутся ещё до открытия, выйти на данный уровень можно к третьему месяцу работы. В текущие затраты будут включены издержки, такие как бухгалтерия и охрана, оплата труда сотрудникам и аренда, отчисления, а также периодические затраты на расходники, рекламу и сырьё.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p Руководство музея будет возложено на директора музея. Его обязанностями будут: контроль работы сотрудников, увольнение и приём на работу сотрудников, закупки для магазина, поиск партнёров (ресторанов, кафе) для сбыта продукции, продвижение заведения и планирование бизнеса. Работники выставки, которые будут следить за порядком и проводить экскурсии, а также шоколатье, которые будут проводить мастер-классы, и кассиры-продавцы будут находиться в подчинении у директора.
                      p Процесс открытия музея займёт два месяца (время на сбор коллекции не учитывается). На время ремонта помещения, а также оснащения постройки арендодатель предоставит каникулы по аренде.
 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p Общий объём инвестиций в представленный проект составит 2828000 рублей. Открытие музея будет осуществлено на собственные деньги. Таблица 4 содержит положения о стартовых вложениях. В Приложении 1 приведены финансовые характеристики основного периода на перспективу в 3 года. Условия, которые приняты при осуществлении расчётов: средний показатель посещаемости – 2 тысячи человек в месяц, срок достижения плановых объёмов по продажам – 3 месяца, объём продаж шоколадных изделий – в первый год 5кг за день, во второй год – 10кг за день, в третий – 15 кг за день; увеличение оплаты труда на 30% на третий год после открытия.
                      p(style="text-align:right") Таблица 4. Инвестиционные траты
                      table(border='1')
                        tr
                          td №
                          td Статья на затраты
                          td Сумма, в рублях
                        tr
                          td(colspan='3')
                            i Вложения в арендуемую недвижимость
                        tr
                          td 1
                          td Ремонт помещений
                          td 200000
                        tr
                          td(colspan='3')
                            i Оборудование помещения
                        tr
                          td 2
                          td Закупка музейного оборудования
                          td 2228000
                        tr
                          td(colspan='3')
                            i Нематериальные активы
                        tr
                          td 3
                          td Создание собственного сайта
                          td 70000
                        tr
                          td 4
                          td Процедуры по регистрации, согласование работы с СЭС, с Пожарной инспекцией
                          td 80000
                        tr
                          td 5
                          td Стартовая компания по продвижению/рекламная кампания
                          td 100000
                        tr
                          td(colspan='3')
                            i Оборотные средства
                        tr
                          td 6
                          td Оборотные средства
                          td 150000
                        tr
                          td(colspan='2') Итого:
                          td 2828000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Заданные объёмы продаж позволят окупить проект через 19 месяцев. Рентабельность продаж будет составлять 8,36 процентов. В Таблице 5 указаны показатели эффективности.
                      p(style="text-align:right") Таблица 5. Показатели эффективности
                      table(border='1')
                        tr
                          td №
                          td Показатель эффективности
                          td Значение
                        tr
                          td 1
                          td Ставка дисконтирования, в процентах
                          td 22
                        tr
                          td 2
                          td NPV – чистая приведенная стоимость, в рублях
                          td 3272657
                        tr
                          td 3
                          td Чистая прибыль представленного проекта*, в рублях
                          td 113088 – 373207
                        tr
                          td 4
                          td Рентабельность продаж, в процентах
                          td 8,36
                        tr
                          td 5
                          td PP – срок окупаемости, в месяцах
                          td 19
                        tr
                          td 6
                          td DPP – дисконтированный срок окупаемости, в месяцах
                          td 22
                        tr
                          td 7
                          td PI – индекс прибыльности, в процентах
                          td 1,16
                      p *с учётом средней посещаемости музея шоколада 2 тысячи человек/месяц, а также продажах шоколадной продукции в объёме от 5 до 15 кг в день

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p Частный музей шоколада является новым для отечественного рынка проектом. Во многом успех такой компании будет зависеть от энтузиазма руководителя, от его организаторских способностей, от креативности подхода. Говоря об успешности музее, как о бизнесе, а не как о культурном явлении, нужно выделить такие факторы как местоположение, рекламная компания, уровень качества услуг, качеством экспозиции. Отличием от других музейных проектов являются меньшие риски – благодаря концепции проекта (наличие интерактивной части, живого общения с посетителями, продажа сувенирного шоколада) посещаемость объекта будет значительно выше, чем у обычных выставок и музейных центров. Риски проекта представлены в Таблице 6.
                      p(style="text-align:right") Таблица 6. Оценка рисков проекта музея шоколада и методы по предотвращению их наступления, а также последствий
                      table(border='1')
                        tr
                          td №
                          td Риски
                          td Вероятность наступления рисков
                          td Уровень тяжести последствий
                          td Методы предотвращения
                        tr
                          td 1
                          td Волатильность спроса
                          td средняя
                          td низкая
                          td SMM, проведение акций, рекламных компаний, развитие сетки мероприятий, применение качественных маркетинговых инструментов, упор на продажу шоколада
                        tr
                          td 2
                          td Внезапное снижение покупательской способности
                          td низкая
                          td средняя
                          td Пересмотр ценовой политики на услуги музея, снижение издержек
                        tr
                          td 3
                          td Поломка оборудования/ нанесение значительного ущерба экспонатам
                          td низкая
                          td средняя
                          td Приобретение хорошего оборудование с длительным гарантийным обслуживанием, соблюдение требований по эксплуатации, введение штрафов за повреждение оборудования, а также за нанесение ущерба экспонатам
                        tr
                          td 4
                          td Повышение аренды
                          td низкая
                          td средняя
                          td Заключение долгосрочного контракта на аренду с фиксированной ставкой, указанной в рублях
                        tr
                          td 5
                          td Взлом/грабеж
                          td низкая
                          td низкая
                          td Пользование услугами охранных компаний, установка охранной сигнализации, приём на работу охранника
                        tr
                          td 6
                          td Рост закупочных цен на сырьё, шоколад
                          td средняя
                          td низкая
                          td Оптимизация расходов, повышение цен на определённые виды услуг без значительных последствий для спроса

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p ПРИЛОЖЕНИЕ №1 
                      p План производства. Ведущие финансовые показатели проекта в перспективе на три года. 

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p Открытие музея шоколада потребует получения несколько разрешительных документов. Прежде всего, это декларация на производимый шоколад по Техрегламенту ТС на пищевую продукцию. Также потребуется внедрить систему ИСО 22000 ХАССП, разработать все предусмотренные в данной ситуации технические документы – технико-технологическую карту, рецептуры и так далее.
                      p Получить разрешительные документы, а также разработать техническую документацию вам помогут на Едином портале Бизнес услуг. Наши специалисты вас бесплатно проконсультируют, а также помогут сократить издержки на проведение оценки качества.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




