extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Фермерский бизнес: выращивание сои

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business3.jpg', alt='business', title='business')
                +e.H1.title Фермерский бизнес: выращивание сои

              //- +b.SECTION.key-data
              //-   +e.H2.title Основные финансовые характеристики проекта
              //-   +e.UL.list 
              //-     +e.item 
              //-       +e.text Ставка дисконтирования 
              //-       +e.figures 22%
              //-     +e.item 
              //-       +e.text Чистая приведенная стоимость (NVP)
              //-       +e.figures 3 272 657 руб.
              //-     +e.item 
              //-       +e.text Чистая прибыль проекта
              //-       +e.figures 113 088 - 373 207 руб.
              //-     +e.item 
              //-       +e.text Рентабельность продаж
              //-       +e.figures 8,36%
              //-     +e.item 
              //-       +e.text Срок окупаемости (РР)
              //-       +e.figures 19 месяцев
              //-     +e.item 
              //-       +e.text Дисконтированный срок окупаемости (DРР)
              //-       +e.figures 22 месяц
              //-     +e.item 
              //-       +e.text Индекс прибыльности
              //-       +e.figures 1,16%

              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  //- +e.item--active
                  //-   +e.H3.type
                  //-     +e.link(href="#") Резюме проекта
                  //-   +e.text
                  //-     p Целью проекта является открытие музея шоколада и предоставление услуг в области культурного и познавательного досуга, а также извлечение прибыли. Заведение должно включать в себя экспозицию, которая посвящена истории продукта, а также интерактивные мероприятия – классы по изготовлению шоколада для посетителей. Кроме того, при музее будет открыт магазин, где можно будет приобрести изделия из шоколада ручной работы.
                  //-     p Расположится музей в центре города с населением от 1 миллиона человек. Площадь заведения будет составлять 250 квадратных метров. Гостями заведения будут горожане, а также приезжие и туристы любых возрастов, которые интересуются особенностями приготовления и историей шоколада, любят его вкус. Целевая аудитория – семьи с детьми, молодые пары, молодёжь, а также люди пожилого возраста.
                  //-     p Общая сумма инвестиций в открытие заведения составит 2828000 рублей. Реализация проекта будет осуществлена на собственные средства. Выход на окупаемость проекта рассчитан через 19 месяцев. Основные расчёты плана осуществлены на три года работы музея-магазина. Основополагающим условием, учтенным в бизнес-плане, стало наличие у собственника данного проекта коллекции, которая посвящена истории появления шоколада.

                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p Соя – это одна из самых востребованных и распространённых сельскохозяйственных культур в отрасли растениеводства. Сою относят к семейству бобовых. Эта культура растёт практически во всех типах почвы (кроме песчаных почв), её отличает высокая урожайность. В плодах сои содержится значительное количество белка растительного. В связи со своими полезными и вкусовыми качествами данная культура нашла широкое распространение – она применяется для приготовления блюд различного типа, её используют в пищевом производстве, из неё изготавливают многие продукты для вегетарианцев, готовят колбасы и сыры, сосиски и котлеты, её добавляют в супы. Кроме того, соя активно используется в качестве корма для скота. Из соевых семян изготавливают соевую муку, а далее из этой муки производится соевое мясо. Также из семян добывают соевое масло (оно является одним из лучших масел на растительной основе), соевое молоко (для приготовления молока берут семена белого цвета). Также сою ферментируют и из полученного продукта готовят популярный во всём мире соевый соус. А из прессованных плодов, в свою очередь) изготавливают жмых.
                      p Соя неизменно пользуется высоким спросом. Стоит она значительно дороже пшеницы и при этом цена на неё гораздо меньше подвержена колебаниям. С каждым годом потребность человечества в сое, а также в продуктах её переработке, растёт – отчасти это связано с быстрым развитием в последние годы животноводства и свиноводства. В связи с этим выращивание сои – это выгодный, высокорентабельный бизнес. Однако, как и в остальных отраслях, в данном бизнесе имеются свои нюансы и особенности, которые требуется учитывать для эффективного осуществления деятельности.
                      p Соя – это требовательная культура. Можно выделить несколько основных фаз роста данной сельскохозяйственной культуры:
                      ol
                        li Прорастание (этот период считают от посева и до появления ростков).
                        li Непосредственно всходы (от возникновения семядольных вплоть до распускания листьев примордиальных).
                        li Возникновение тройчатого листа.
                        li Процесс ветвления.
                        li Возникновение бутонов.
                        li Сезон цветения.
                        li Формирование бобов.
                        li Наливание семян.
                        li Созревание сои.
                      p Если условия благоприятные, то первые всходы будут появляться примерно на 6-й/9-й дни после посева. В процессе наливания семян культура прекращает расти, а в процессе созревания бобовых у растения опадают листья. Большая часть сортов отличается тем, что бобы не растрескиваются, а растения не полегают – это значительным образом облегчает процедуру сбора урожая.
                      p Многие считают, что соя является неприхотливым растением, однако данное мнение ошибочно. Эта сельскохозяйственная культура достаточно требовательно как к теплу, так и свету. Если в месте, где она выращивается, недостаточно освещения, то стебли растения будут удлиняться, что, в свою очередь, будет препятствовать появлению боковых побегов и, следовательно, бобов. В худшем же случае это может привести даже к опаданию тех завязей, которые уже успели образоваться в нижней части ствола. Что касается потребности в тепле, то в основном она приходится на период цветения, а также формирования плодов. При этом оптимальной температурой будет температура порядка 21-22 градусов по Цельсию. Если температура будет ниже 14 градусов, то растение не будет развиваться и расти. Конец и начало вегетативного периода отличается тем, что в эти фазы потребность сои в тепле значительно ниже. В эти периоды растения способны даже перенести небольшие заморозки до 3,5 градусов ниже нуля.
                      p Также, помимо тепла и света, растение требует большое количество влаги, однако и эта потребность варьируется в зависимости от фазы роста. На первоначальном этапе роста, пока ещё не появились бутоны, соя устойчиво переносит небольшие засухи (хотя недостаток влаги может негативно сказаться на развитии нижних бобов, а также на продуктивности развития в целом). Но при недостатке влаги в период цветения растение может прекратить развиваться, и в этом случае можно будет ожидать действительно низкий уровень образования завязей, налива семян, а в некотором случае – и вовсе их отсутствие. На качество развития также влияет и влажность воздуха, к которой соя требовательна на фазе цветения – если влажность слишком низкая, то имеющиеся бобы и цветки будут сбрасываться, а новые образовываться не будут.
                      p Эксперты рекомендуют выращивать соевые культуры на полях, очищенных от сорняков, обладающих оптимальным запасом влаги и необходимых питательных веществ. Не стоит забывать, что для внушительного урожая данному растению требуется в 2-3 раза больше питательных веществ, нежели культурам зерновым. Это значит, что для эффективного выращивания сои требуется почва окультуренная и плодородная. Если такого участка нет, то вряд ли удастся обойтись без дополнительных затрат на внесение в почву удобрений. При этом по типам почвы у растения нет особых предпочтений, однако лучше всего подходит нейтральная, слабокислая (с показателями pH от 5,5 до 6,5), которая хорошо пропускает воду, а также богата фосфором, кальцием, гумусом.
                      p Как и большая часть бобовых, соя – это ценная культура для севооборота. То есть, её можно высевать на участках, где до этого выращивались зерновые культуры – пшеница озимая, картофель, свёкла сахарная, кукуруза, а также злаковые многолетние культуры. Говоря о непригодных «предшественниках», следует упомянуть зернобобовые культуры, капусту, бобовые травы, а также подсолнухи (в связи с возможностью возникновения бактериоза, а также прочих болезней). Некоторые культуры, которые высоко восприимчивы к склеротинозу (к примеру, соя, рапс, подсолнух) не должны превышать в процессах севооборота одной трети. После сезона сои специалисты советуют сеять озимую пшеницу, а также рапс, кукурузу, различные зерновые культуры, а также кормовые растения и овощи. Также необходимо принять во внимание, что в некоторых регионах России возможны поздние сборки культур – это означает, что озимые культуры после сои в таких регионах засеять не удастся. После сои почва лишается большого количества питательных веществ – в связи с этим следует сеять её на одном поле не чаще, чем один раз в три года. То есть, для регулярного получения урожая потребуется ежегодно искать новые поля для посева.
                      p Говоря о регионах, которые хорошо подходят для выращивания сои, нужно упомянуть, что наиболее эффективно будет засеивать данную культуру на полях в Хабаровском крае, Амурской области, а также в Приморском крае. 80% посевных площадей расположены на Дальнем Востоке и в Краснодарском крае. В этих местах выращивают различные сорта данной культуры – Витязь 50, Приморская 81, Приморская 301, Приморская 529, Приморская 69, ВИР 14, Ход сон, Приморская 13, Венера. В Средневолжском регионе наиболее распространены сорта СОЕР (1, 3, 4, 5 и 7). В центральной полосе самыми распространёнными сортами являются среднеспелые и раннеспелые сорта Ясельда, Светлая и Белгородская 48. Высокой урожайностью, а также скороспелостью отличаются Магева, Белор и Окская.
                      p При наиболее удачных климатических условиях урожайность на Северном Кавказе составляет порядка 40-45 центнеров с одного гектара. Что касается Урала, то здесь урожайность максимально достигает 15 центнеров с одного гектара. Однако, несмотря на низкий уровень урожайности, выращивать сою выгодно и здесь – это связано с тем, что урожаи пшеницы в данном регионе примерно равнозначные, но при этом в сое содержание белка в три раза выше.
                      p Различия сортов сои ограничиваются не только своим требованиям к природным и агроклиматическим условиям, но также и по назначению. К примеру, существуют сорта, которые предназначаются для масличного кормового применения, либо для пищевого использования, ориентированного на производство белка из сои. Следует принимать во внимание стоимость закупки, соотношение зерновых ингредиентов, состав, урожайность определённого сорта. Важно помнить, что в России запрещается выращивать сою c ГМО, хотя она и получила широкое распространение за границей благодаря тому, что она менее требовательна, и её выращивание обходится значительно дешевле.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Выращивание сои
                    +e.text
                      p Предназначенное для посева поле требуется предварительно подготовить. Осенью для этого необходимо сделать 1-2 лущений по глубине порядка 10 см, после чего следует внести удобрения для пахоты. В случае, если до этого на поле выращивали зерновые культуры, то потребуется внести удобрение на глубину 23-25 см, а в случае, если выращивали кукурузу, то на глубину до 30 см. В начале весны осуществляется боронование лёгкими, средними или тяжёлыми боронами под углом от направления пахоты, либо поперёк неё. В целом, обработка поля перед посевом сои не сильно отличается от процедуры его подготовки для других бобовых культур. Главной целью подготовки является ликвидация всходов сорняков, а также сохранение влаги. При ситуациях, когда поле не выравнивали осенью, весной можно провести культивацию на углублении шести-восьми сантиметров с дальнейшим прикатыванием. Это позволит увеличить температуру слоя посевов на несколько градусов, а также простимулирует всходы сорняков, которые сразу после прорастания будут удалены. Для проведения культивации на предпосевной фазе (она проводится на углублении четыре-пять сантиметров под углом к направлению предшествующих возделываний или поперёк их направления) необходимые свекловичные/паровые культиваторы, обладающие плоскорезными лапами. Поле после подготовки должно быть без комков, ровным. Это обязательное условие, так как соевые бобы располагаются достаточно низко, и неровное поле затруднит сбор урожая. Глубина борозд, а также высота гребней не может превышать 4 сантиметров.
                      p После сева к моменту появления всходов в почву необходимо внести гербициды – их вносят либо кольчато-шпоровым катком, либо при помощи бороны на углубление три или более сантиметров (благодаря этому повышается результативность использования азотфиксирующих бактерий). В ситуации, когда в почве есть корнеростковые или корневищные сорняки, то рекомендуется не проводить обработку, а подождать, пока пырей вырастет до 10-15 сантиметров и потом осуществить посев. Через несколько дней после посева (ещё до момента возникновения на поверхности соевых ростков), поле нужно обработать гербицидами сплошного воздействия «раунд ап». При этом расход удобрения должен составить порядка 25-60 кг/га калия, 20-30 кг/га фосфора, а также 10-20 кг/га азота.
                      p Перед началом посева семена потребуется протравить, а после засевания необходимо провести их инокуляцию с помощью клубеньковых бактерий, в которых содержится ризоторфин. Стандартные протравливающие машины для этого не подойдут – частички ризоторфина слишком крупные и не смогут пройти сквозь форсунку, фильтры классического оборудования. Использовать жидкий ризоторфин не рекомендуется из-за сложности его применения. Поэтому, чтобы инокуляция прошла максимально эффективно, следует использовать бетономешалку, либо кузов обычного грузового автомобиля и специальной сеялке, в которой будут разбиваться образующиеся комки. На одну тонну семян приходится порядка 70-80 литров раствора. При желании можно заменить ризоторфин на аммиачную селитру, которой потребуется удобрить почву перед посевом. Селитра, однако, стоит несколько дороже, и это увеличивает себестоимость сои, однако её применение обеспечивает хорошую урожайность.
                      p Осуществлять посев рекомендуется с конца апреля и до середины мая – в то время, когда температура почвы прогрелась до 10-15 градусов по Цельсию. Прежде всего, сеют сорта позднеспелые, и уже в конце засеивают скороспелые. Закладывают семена на глубину от 450 до 700 мм. При этом ширина междурядий может составлять от 40 до 60 см. От сорта сои зависит и норма высева, которая также может варьироваться в зависимости от метода посева, борьбы с сорняковыми. Показатели средней плотности засевания могут составлять от 35 до 40 семян на один метр. Если ширина междурядий больше, то и норма высева повышается на 10-20%.
                      p После того как показались всходы, потребуется периодически ликвидировать сорняки, а также осуществлять рыхление междурядий. После того, как появится около пяти-шести листков сои, культура начнёт зацветать. В этой фазе необходимо удобрить почву нитрофоской (это минеральное удобрение из фосфора, азота и калия), как следует её полить и присыпать землёй. Период созревания может варьироваться от 85 и до 245 дней – точный срок зависит от сорта сои, а также от климатических особенностей конкретного региона. Как правило, скороспелые могут поспеть к концу июля, а позднеспелые – к октябрю. Снимать урожай необходимо после того, как опали листья, а сами бобы приобрели серый окрас. Перед тем как перекапывать поле, потребуется выдернуть стебли растения, а опавшие листья закапать в землю для того, чтобы они скорее перегнили. После сбора бобы раскладывают под солнцем – именно на этом этапе они вылущиваются/раскрываются, после чего просеиваются, и их пересыпают в мешки. Использовать для хранения можно стандартные арочники. Важно соблюдать некоторые требования – во-первых, влажность воздуха не должна быть выше 15% (лучше – не выше 12%). Чересчур влажную сою есть возможность высушить, применяя специальную технику, но эта процедура потребует дополнительных затрат, что, в свою очередь, увеличит себестоимость продукции.
                      p Уровень урожайности напрямую зависит от региональных климатических особенностей, от сорта сои. Усреднённые показатели составляют порядка 10 центнеров сои с одного га и 25 центнеров при условии организации необходимого полива. Ранние сорта, преимущественно, приносят больше урожая.
                      p Эксперты утверждают, что посев и выращивание сои – это не основная трудность. Самое сложное – это собрать выросший урожай. Применять для этого необходимо специальный комбайн (в большинстве случаев, используют комбайны марки «Дон»). Сложность же заключается в том, что в большинстве случаев урожай нужно собрать за 3-5 дней, чтобы бобы не растрескались и не осыпались на землю. Сделать это в такой сжатый срок трудно – с помощью одного комбайна можно убрать максимально 20 гектар в день, в случае если поля идеально ровные и на них нет сорняков, однако на практике это может оказаться и всего 5 га. При такой низкой скорости сбора, тем не менее, не удастся избежать потерь урожая – и в этом случае они будут весьма существенны. Кроме того, потребуется постоянно следить за тем, чтобы стебли растения не попадали в барабан машины, чтобы комбайн не сломался.
                      p Для того чтобы вырастить сою, необходимо подготовить оборудование – культиваторы, технику для инокуляции, боронования, сеялку пневматическую (возможно применять сеялки для зерновых, для свёклы, подсолнечника), комбайн для сбора урожая.
                      p При этом рентабельность бизнеса действительно высока – она составляет около 25%. Для того чтобы повысить её, можно заняться также и изготовлением соевого мяса (для этого необходимо будет приобрести экструдер – специальную технику, которая стоит недорого, не занимает много места и позволяет перерабатывать бобы). Таким способом из 30 тонн сои можно получить 25 тонн соевого мяса.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p Для выращивания сои необходимо будет получить сертификат на зерно в соответствии с требованиями Техрегламента на зерно. Если будет осуществляться производство пищевых продуктов на основе выращенной сои, то на них потребуется получать декларацию по ТР ТС на пищевую продукцию. Получить такой документ можно после проведения всех предусмотренных законом процедур.
                      p Подробнее о сертификации сои и для получения всех разрешительных и технических документов обращайтесь к нам. Вы можете просто оставить заявку на нашем сайте, и с вами свяжется один из наших специалистов.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




