extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план: служба доставки еды из кафе и ресторанов

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business7.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план: служба доставки еды из кафе и ресторанов

              +b.SECTION.key-data
                +e.H2.title Основные финансовые характеристики проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования (год) 
                    +e.figures 20%
                  +e.item 
                    +e.text Ставка дисконтирования (мес) 
                    +e.figures 1,53%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 17 месяцев
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 20 месяцев
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 4 433 368 руб.
                  +e.item 
                    +e.text Коэффициент рентабельности инвестиций
                    +e.figures 10,3%
                  +e.item 
                    +e.text Внутренняя норма прибыли
                    +e.figures 6,78%
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 2,7%


              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p Целью проекта является открытие службы доставки еды из ресторанов и кафе в Ростове-на-Дону. Услуги по доставке на сегодняшний день высоко востребованы потребителем. Это связано с тем, что часто люди желают вкусно перекусить или плотно поесть, но возможности идти в ресторан у них нет по тем или иным причинам. Помимо этого, услуга востребована и при проведении корпоративов, чуть реже – для домашних праздников. На рынке Ростова-на-Дону конкуренция в данном сегменте практически отсутствует.
                      p При осуществлении анализа региона и сферы деятельности можно пронаблюдать высокий интерес к услугам данного типа среди населения. При расположении фирмы на территории Ростова-на-Дону можно обеспечить объём основной целевой аудитории в размере нескольких сотен тысяч граждан. Так как конкурентами данный рынок практически не охвачен, потребуются дополнительные усилия на продвижение этого вида сервиса. По степени риска данный проект можно охарактеризовать как средний, при этом по степени интереса для инвестирования как высокий.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p
                        | Такой тип услуг относительно нов для России (если не учитывать Москву и Санкт-Петербург), в связи с этим нет и серьёзной конкуренции. При наличии действительно большого количества заведений общественного питания и их высокой популярности среди населения, а также при учёте населения города в размере 1,1 миллиона человек, логично спрогнозировать высокий спрос на данный тип услуг.
                      p
                        | Чаще всего доставку еды предлагают сами рестораны и другие заведения – осуществляется она своими силами (как правило, ресторан, предлагающий доставку, нанимает несколько курьеров и покупает несколько авто или берёт их в лизинг). При этом качество обслуживания нередко страдает, ведь доставка не является профильной услугой для ресторана – самому сервису уделяют мало внимания, а маршрут доставки не формируется правильно (особенно при большой загрузке). Итогом этого становятся задержки по времени доставки, путаница в заказах и так далее. Помимо этого, количество ресторанов, которые предлагают доставку, в Ростове не так велико. Как правило, это сетевые рестораны с не очень высоким качеством блюд. Рассматривать данные компании в качестве конкурентов нецелесообразно. Основными конкурентами будут именно те компании, которые оказывают услуги аналогичного характера – то есть компании, которые не имеют собственного производства, но при этом предоставляют услуги по доставке из большого количества различных ресторанов. В Ростове на сегодняшний день есть две такие организации. Подробную информацию о них можно получить в четвёртом разделе представленного бизнес-плана.
                      p
                        | Основная таргет-группа проекта – это женщины и мужчины, а также пары различного возраста (15-50 лет) и корпоративные клиенты. Уровень средней заработной платы потенциальных клиентов не имеет значения, так как даже те граждане, доход которых невысок, довольно часто выделяют средства на то, чтобы поесть в кафе или ресторане. Сезонности у данной услуги явно выраженной нет – пик продаж обычно приходится на пятницу, субботу, воскресенье и праздничные дни. Небольшой спад может ощущаться в период отпусков, но он не существенен.
                      p
                        | Ростов является одним из самых крупных городов юга России, а также столицей Южного Федерального Округа и столицей Ростовской области. Помимо этого, город является крупным деловым, промышленным центром страны. Общий уровень доходов населения характеризуется как «выше среднего» по России. Количество заведений общественного питания в городе по статистике интернет-журнала «Афиша» составляет 1053 единицы.
                      p
                        | Ключевой инструмент данного проекта – интернет-портал, на котором размешены меню всех заведений, с которыми доставка сотрудничает. Сервис предполагает возможность заказать еду через официальный сайт, либо воспользовавшись номером горячей линии. Чтобы курьеры и диспетчеры быстро и эффективно взаимодействовали, интернет ресурс снабдят CRM системой. Время доставки в часы пик составит максимум полтора часа, из которых полчаса отведено на приготовление блюда, а остальное время - на доставку.
                      p(style="text-align:right") Таблица 2. Инвестиционные траты проекта
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование
                          td
                            p Сумма, в рублях
                        tr
                          td
                          td
                            p
                              i Недвижимость
                          td
                        tr
                          td
                            p 1
                          td
                            p Аренда офиса на полгода (6 месяцев)
                          td
                            p 120000
                        tr
                          td
                          td
                            p
                              i Обслуживание
                          td
                        tr
                          td
                            p 2
                          td
                            p Автомобили
                          td
                            p 240000
                        tr
                          td
                            p 3
                          td
                            p CRM-система
                          td
                            p 150000
                        tr
                          td
                            p 4
                          td
                            p Оборудование для офиса
                          td
                            p 70000
                        tr
                          td
                            p 5
                          td
                            p Оформление авто под фирменный стиль
                          td
                            p 60000
                        tr
                          td
                          td
                            p
                              i Нематериальные активы
                          td
                        tr
                          td
                            p 6
                          td
                            p Создание сайта
                          td
                            p 300000
                        tr
                          td
                            p 7
                          td
                            p Оборотные средства
                          td
                            p 700000
                        tr
                          td
                          td
                          td
                        tr
                          td
                          td
                            p Итого
                          td
                            p 1640000
                        tr
                          td
                          td
                            p Собственные средства
                          td
                            p 1000000
                        tr
                          td
                          td
                            p Заёмные средства
                          td
                            p 640000
                        tr
                          td
                          td
                            p Ставка
                          td
                            p 18%
                        tr
                          td
                          td
                            p Срок выплат
                          td
                            p 36 месяцев

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание услуг
                    +e.text
                      p Ключевая услуга представленного проекта – это доставка еды из ресторанов, кафе, фастфудов и других заведений общественного питания по адресам, указанным клиентами (в офис или на дом). На стартовом этапе ассортиментный список начнёт формироваться, но к моменту начала работы собственник проекта планирует наладить сотрудничество минимум с 50 заведениями города. Заведения планируется делить по различным группам в зависимости от направления кухни – бургеры, пицца, японская кухня, китайская кухня, пироги, шашлыки, комплексные обеды.
                      p Категория «фастфуд» предусматривает оплату за доставку еды без наличия фиксированной минимальной суммы заказа. Что касается комплексных меню, то для них устанавливается минимальная сумма, на которую должен заказать клиент (сумма зависит от типа заведения, которое он выбрал), и в этом случае доставка становится бесплатной. Первый случай обеспечивает выручку компании за счёт цены на доставку, во втором случае – выручка формируется из комиссионных, которые предлагает заведение (как правило, это 20-25% от общей суммы заказа.
                      p Система работы следующая: диспетчер получает заказ от человека, после чего связывается с партнёрским рестораном для подтверждения возможности исполнения заказа и уточнения сроков. Если возможность заказа существует, то диспетчер подтверждает её клиенту, а также озвучивает полную стоимость заказа и уточняет форму оплаты (наличными или по карте). Если же выполнить заказ невозможно, диспетчер приносит извинения клиенту и помогает ему выбрать наиболее оптимальный вариант из других заведений.
                      p На старте предусмотрено два возможных способа оплаты: первый – наличными курьеру, а второй – с помощью карты на сайте. В будущем появится вариант оплаты картой непосредственно курьеру. Кроме того, запустят мобильное приложение, которое можно использовать для заказа, а также для оплаты доставки. Цена блюд доставки равнозначна их стоимости в ресторане.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p На территории рассматриваемого региона, в Ростове-на-Дону, существует только три основных компании, которые можно считать конкурентами. Однако и они оказывают несколько другой тип услуг – они не имеют собственных курьеров и лишь оказывают посреднические услуги между службой доставки ресторана и конечным покупателем. Таким образом, они не могут контролировать качество доставки и работу курьеров. Это нередко приводит к сбоям, задержкам и другим неурядицам, которые могут отрицательно сказаться на репутации компании. Использование собственной курьерской службы позволяет избежать подобных проблем и обеспечивает более гибкую, адекватную логистическую систему, а также высокое качество исполнения заказов.
                      p Продвижение на рынке осуществят и посредством своего интернет-ресурса, и с помощью раздачи листовок на улице, проведения на радио рекламных акций с возможностью выиграть подарочные купоны, которыми можно пользоваться при заказе еды. Фирменная реклама, которой украсят корпоративные автомобили курьерской службы, также принесут положительный эффект для продвижения.
                      p Помимо этого, предусмотрена награда клиентов и за рекомендацию – «пригласи друга и получи дополнительные баллы». С помощью данных инструментов компания собирается выйти на плановый объём по продажам с начала 3-го года работы.
                      p Трудностей при заключении контрактов с партнёрскими ресторанами быть не должно – ведь и для них в таком сотрудничестве появится немало преимуществ – в особенности это выгодно ресторанам, у которых своей доставки нет. Аргументом для сотрудничества со службой доставки должно стать желание привлечь новых клиентов. При этом нужно понимать, что заключение такого договора не понизит количество посетителей. Наоборот, объём продаж заведений увеличится, а дополнительная клиентура не станет создавать лишней нагрузки на персонал и зал заведения.
                      p Рестораны, которые имеют свою личную службу доставки, также могут иметь мотивацию в партнёрстве. Клиенты, которые заказывают еду в офис или домой, могут получить информацию о заведении только через основной корпоративный сайт, а при помощи такой партнёрской программы всегда есть возможность получить новых заказчиков. К тому же у таких заведений доставка – это не основное направление, и обычно курьерский штат этих ресторанов невелик, поэтому у них нередки задержки по доставке. При сотрудничестве с профессиональной службой доставки эта проблема решится.
                      p Компании-партнёры смогут дополнительно помогать в продвижении доставочной службы – к примеру, они могут разместить на своих столиках флаеры. Аргументацией в использовании подобного рода маркетинговых инструментов должна стать заинтересованность в развитии представленного проекта. Также возможно проведение и совместных акций.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p
                        | Постоянные и временные затраты, оплата заработной платы, амортизация техники и оборудования – именно из этих показателей складывается себестоимость предоставляемых услуг. Переменные траты включают горюче-смазочные материалы. Амортизационные траты начисляют на цену программного обеспечения, техники, которая применяется в работе. Рассчитана она на период пять лет линейным методом.
                      p
                        | Для работы администратора и диспетчера необходимо офисное помещение, площадь которого должна составлять 10 квадратных метров. Служебные автомобили потребуется оставлять на служебной парковке недалеко от арендованного офиса. Сам офис необходимо оборудовать компьютером, микроволновой печью, а также кулером и холодильником.
                      p(style="text-align:right") Таблица 3. Затраты переменные
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Услуга или товар
                          td
                            p Затраты на единицу, в рублях
                          td
                            p Наценка торговая, в %
                          td
                            p Стоимость единицы, в рублях
                        tr
                          td
                            p 1
                          td
                            p Комплексное меню
                          td
                            p 11
                          td
                            p 3500
                          td
                            p 396
                        tr
                          td
                            p 2
                          td
                            p Фастфуд
                          td
                            p 11
                          td
                            p 3150
                          td
                            p 358
                        tr
                          td
                          td
                          td
                          td
                          td
                        tr
                          td
                          td
                          td
                            p Итого
                          td
                          td
                            p 754
                      p(style="text-align:right") Таблица 4. Постоянные траты
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование
                          td
                            p Сумма за месяц, в рублях
                        tr
                          td
                            p 1
                          td
                            p Плата арендная
                          td
                            p 20000
                        tr
                          td
                            p 2
                          td
                            p Реклама, рекламные акции
                          td
                            p 50000
                        tr
                          td
                            p 3
                          td
                            p Платежи коммунальные
                          td
                            p 5000
                        tr
                          td
                            p 4
                          td
                            p Интернет, телефония
                          td
                            p 10000
                        tr
                          td
                            p 5
                          td
                            p Амортизация
                          td
                            p 7700
                        tr
                          td
                            p 6
                          td
                            p Расходы коммерческие
                          td
                            p 10000
                        tr
                          td
                            p 7
                          td
                            p Расходы управленческие
                          td
                            p 5000
                        tr
                          td
                          td
                            p Итого
                          td
                            p 107700
                      p
                        | Режим работы службы доставки – ежедневный, без обедов и выходных. В первые 18 месяцев работы доставка будет осуществляться только с 11 утра и до 11 вечера, однако после компания перейдёт на круглосуточный режим работы. Сотрудники должны работать посменно. На старте приобретут только один служебный автомобиль, однако по мере роста заказов увеличат и количество авто, которые работают в смене.
                      p(style="text-align:right") Таблица 5. Штатное расписание, а также фонд оплаты труда
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Должность
                          td
                            p Оклад, в рублях
                          td
                            p Количество человек
                          td
                            p ФОТ, в рублях
                        tr
                          td
                            p 1
                          td
                            p Бухгалтер
                          td
                            p 25000
                          td
                            p 1
                          td
                            p 25000
                        tr
                          td
                            p 2
                          td
                            p Диспетчер
                          td
                            p 23000
                          td
                            p 2
                          td
                            p 46000
                        tr
                          td
                            p 3
                          td
                            p Курьер
                          td
                            p 23000
                          td
                            p 6
                          td
                            p 138000
                        tr
                          td
                            p 4
                          td
                            p Администратор сайта
                          td
                            p 20000
                          td
                            p 1
                          td
                            p 20000
                        tr
                          td
                          td
                            p Итого
                          td
                          td
                          td
                            p 229000
                        tr
                          td
                          td
                            p Налоговые отчисления
                          td
                          td
                          td
                            p 68700
                        tr
                          td
                          td
                            p Итого с налоговыми отчислениями
                          td
                          td
                          td
                            p 297700
                      p
                        | Пики спроса приходятся на декабрь-январь, так как холодная погода не располагает к посещению ресторанов, при этом, это время года отличается обилием государственных праздников, а именно в это время люди тратят больше денежных средств, нежели обычно. Небольшой спад ощущается летом, когда многие берут отпуска и находятся не в городе. Другая же часть населения предпочитает в летнее время экономить, чтобы накопить на поездку в дальние страны, либо для того чтобы восстановить бюджет после поездки.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p Собственник проекта исполнит роль руководителя компании. Для этого ему потребуются знания в области предпринимательского дела, бухгалтерского и налогового учёта, а также безопасности охраны труда.
                      p Персонал организации находится в подчинении руководителя, а курьеры также косвенно находятся в подчинении у диспетчеров, которые, в свою очередь, руководят действиями курьеров, контролируют их передвижения, а также формируют максимально удобные и эффективные маршруты, основываясь на информации, полученные с геолокационных данных и сведениях о транспортной загруженности.
                      p Администратор сайта займётся приёмом заказов в интернете и их передачей партнёрам-ресторанам. В дни пиковой загрузки на помощь администратору может приходить диспетчер. Задача курьера – забрать готовое блюдо в ресторане и доставить его по адресу клиента.
                      p К сотрудникам должны предъявляться следующие требования:
                      ol
                        li Администратор – знание ЦМС, вежливость, уравновешенность, грамотная речь.
                        li Диспетчер – уравновешенность, знание города, его географии и основных автомагистралей.
                        li Курьер – наличие прав категории B, знание города, стаж вождения три года или более. С каждым курьером также заключают договор, в котором обозначится уровень материальной ответственности за автотранспортное средство, а также уровень его ответственности за использование автомобиля не по назначению. Перед началом работы осуществляется пробная поездка до точки, которая указывается руководителем.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p Финансовый расчёт осуществлён с учётом различных видов затрат, которые связаны с реализацией проекта – это учёт затрат постоянных, переменных, на амортизацию, на оплату труда, на социальные отчисления, на инвестиции. Также план учитывает наличие пиковых сезонов и сезонов небольшого спада активности. Сумма вложений составляет 1640000 рублей, из которых 1000000 собственник вкладывает из собственных средств. Самый большой объём денег уходит на создание оборотного пакета средств, которые необходимы до момента выхода заведения на окупаемость. Недостаток средств сформирован из заёмных средств, которые собственник получит в банковском учреждении на 36 месяцев под процентную ставку в 18% годовых. Погашать кредит руководитель будет с помощью ежемесячных аннуитетных платежей. Также руководителю банк предоставит кредитные каникулы на три месяца. В Приложении 1 можно ознакомиться с информацией о движении средств.
                      p Результатом оценки и сравнения вариантов систем налогообложения стал выбор УСН – упрощённой системы налогообложения.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Анализ эффективности данного проекта осуществлён на основе оценки интегральных характеристик и показателей, которые используются в инвестиционном менеджменте во всём мире. В Таблице 1 (раздел первый данного бизнес-плана) представлены данные по эффективности.
                      p Ставка по дисконтированию, которая установлена в 20 процентов, вполне может соответствовать внедрению инновационного продукта на рынок, который слабо развит в этом сегменте. Достаточно высок и уровень показателей, которые с ней связаны – это говорит о высокой стабильности и высоком инвестиционном потенциале компании. Индекс доходности 2,7 (что больше показателя 1). Инвестиционная рентабельность не высокая, но, учитывая то, что у проекта не стоит ограничений по времени, этот показатель приемлем. Чистый дисконтированный доход при этом выше инвестиционных затрат, а это говорит о том, что проект довольно перспективен.
                      p Минимальный уровень чистой прибыли проекта, после того как он выйдет на план продаж, составит 100000 рублей, а максимальный уровень составит 378000 за один месяц. Прибыль за 5 лет составит 10100000 рублей. Помимо этого, компания обладает серьёзными возможностями расширения. В перспективе есть возможность увеличения курьерского штата и создания филиалов не только в Ростовской области, но и в других филиалах. Таким образом, у предприятия есть высокий инвестиционный потенциал.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p С учётом относительной новизны проекта для региона, практически все риски сопряжены с продвижением, а также с достижением плановых продаж в утверждённые сроки.
                      p(style="text-align:right") Таблица 6. Возможные риски, а также методы их предотвращения
                      table(border='1')
                        tr
                          td
                            p Риск
                          td
                            p Вероятность возникновения
                          td
                            p Степень последствий
                          td
                            p Меры по предотвращению
                        tr
                          td
                            p Более низкий спрос, чем было спрогнозировано
                          td
                            p Средняя
                          td
                            p Высокая
                          td
                            p
                              | Использование маркетинговых инструментов, привлечение партнёров к совместным рекламным акциям
                        tr
                          td
                            p Появление на рынке новой компании-конкурента
                          td
                            p Низкая
                          td
                            p Низкая
                          td
                            p
                              | Акцент на повышение качества работы, создание хорошей репутации в первые годы функционирования
                        tr
                          td
                            p Снижение репутации из-за низкого качества работы партнёров и их ошибок в работе
                          td
                            p Средняя
                          td
                            p Высокая
                          td
                            p
                              | Создание системы штрафов для партнёров за нарушение сроков и путаницу в заказах. Отказ от работы с ресторанами и кафе, обладающих низким рейтингом. Предоставление бонусных баллов клиентам, которых некачественно обслужили
                        tr
                          td
                            p Снижение репутации из-за ошибок курьеров
                          td
                            p Низкая
                          td
                            p Высокая
                          td
                            p
                              | Проведение предварительных проверок перед приёмом на работу курьеров. Система штрафов для курьеров. Предоставление бонусных баллов клиентам, которых некачественно обслужили
                      p
                        | На основе полученного анализа можно сделать вывод, что определённый риск при реализации данного проекта есть – это связано с новизной продукта на рынке. Однако перспективы развития проекта не ограничены, и в случае, если компания займёт лидирующие позиции в данном сегменте в рассматриваемом регионе, то сможет открывать филиалы и в других. Проект обладает высоким инвестиционным потенциалом

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p ПРИЛОЖЕНИЕ №1 
                      p Финансовый план. Отчет о движении средств 

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p При открытии службы доставки нужно позаботиться о том, чтобы были получены все необходимые разрешительные документы. Несмотря на то, что компания оказывает только посреднические услуги, и сама продукция уже сертифицирована ресторанами и магазинами, откуда доставляется, рекомендуется оформить несколько разрешительных документов. К примеру, сертификат ИСО на услуги или добровольный сертификат ГОСТ Р помогут не только повысить качество услуг, но и привлекут новых клиентов,  что позволит продвинуть бизнес эффективно и быстро.
                      p За более подробными сведениями обращайтесь к нашим специалистам.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




