extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план для детской парикмахерской

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/single-business-img2.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план для детской парикмахерской

              +b.SECTION.key-data
                +e.H2.title Ключевые показатели проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования 
                    +e.figures 18%
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 1 159 599 руб.
                  +e.item 
                    +e.text Чистая прибыль проекта
                    +e.figures 40 000 - 120 000 руб.
                  +e.item 
                    +e.text Рентабельность продаж
                    +e.figures 7,46%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 20 месяцев
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 22 месяца
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 1,05%

              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                      p В число 
                        b основных услуг 
                        | детской парикмахерской войдут:
                      ul
                        li стандартные стрижки для девочек и мальчиков;
                        li модельные стрижки;
                        li креативные стрижки;
                        li стрижки младенцев;
                        li фигурный выстриг;
                        li аквагрим;
                        li детский маникюр;
                        li детский макияж;
                        li прокол ушей.
                      p Преимуществом проекта по сравнению с традиционными парикмахерскими является 
                        b узкая специализация
                        | , которая подразумевает более высокий уровень сервиса для детей, подготовленный персонал, умеющий работать с капризными клиентами, адаптированный формат и оформление, позволяющий детям связывать поход в парикмахерскую с увлекательным и веселым времяпрепровождением.
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание услуг
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан  в  парикмахерских услугах. 
                      p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 

              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




