extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-business
  
    // Business form
    include partials/components/_business-form.pug
    // Breadcrumbs
    +b.breadcrumbs
      .container
        +e.inner
          a(href="index.html") Главная
          ='>'
          a(href="page-business.html") Бизнес-планы
          ='>'
          a(href="page-business.html") Услуги для населения
          ='>'
          span Бизнес-план: ателье графического тюнинга

    // Marks
    +b.marks
      .container
        +e.UL.list
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") Услуги для населения
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")
          +e.item 
            +e.link(href="page-services.html") ОКПД2
            +e.close(href="#")

    +e.content
      .container
        .row
          .col-xs-12.col-lg-8
            // Business
            +b.SECTION.business(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/offers/business8.jpg', alt='business', title='business')
                +e.H1.title Бизнес-план: ателье графического тюнинга

              +b.SECTION.key-data
                +e.H2.title Основные финансовые характеристики проекта
                +e.UL.list 
                  +e.item 
                    +e.text Ставка дисконтирования (год) 
                    +e.figures 10%
                  +e.item 
                    +e.text Ставка дисконтирования (мес) 
                    +e.figures 0,797%
                  +e.item 
                    +e.text Срок окупаемости (РР)
                    +e.figures 12 месяцев
                  +e.item 
                    +e.text Дисконтированный срок окупаемости (DРР)
                    +e.figures 12 месяцев
                  +e.item 
                    +e.text Чистая приведенная стоимость (NVP)
                    +e.figures 13 959 757 руб.
                  +e.item 
                    +e.text Коэффициент рентабельности инвестиций
                    +e.figures 20,49%
                  +e.item 
                    +e.text Внутренняя норма прибыли
                    +e.figures 10,97%
                  +e.item 
                    +e.text Индекс прибыльности
                    +e.figures 8,46%


              +b.SECTION.business-description
                +e.H3.title Описание бизнес-плана
                +e.UL.list
                  +e.item--active
                    +e.H3.type
                      +e.link(href="#") Резюме проекта
                    +e.text
                      p Целью проекта является открытие организации, которая будет оказывать услуги по графическому тюнингу автомобилей и мототранспорта. Суть услуги состоит в стилизации, нанесении аэрографии, либо виниловых плёнок на кузова авто и мототранспорта, яхт, оформление салона декором, плёнками и так далее. Изображениями могут служить как рекламные обозначения, так и художественные – картины, надписи, фальш-хром и другое. Планируется серия стандартных изображений, которые можно будет выбрать из портфолио, но также в рамках услуги можно разработать и индивидуальное изображение.
                      p Предпосылка к созданию данного ателье стал большой спрос на эту услугу – сегодня всё больше автовладельцев желает придать своему авто более необычный вид, кастомизировать его. Учитывая, что затраты на это достаточно невысоки, услуга обладает большой популярностью и имеет хороший потенциал.
                      p Формат организации отличает её от компаний-конкурентов, а минимальный уровень затрат на осуществление бизнес-идеи, делает его высокорентабельным. Компания не позиционируется в конкретном ценовом сегменте – упор поставлен на широкий ценовой диапазон, от уровня «бюджет» до «премиум» (цена зависит от пожеланий самого клиента).
                      p Территориально ателье находится в городе Ставрополь. Период реализации по времени не ограничен. 

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание отрасли и компании
                    +e.text
                      p
                        | Компания оказывает услуги в области стилизации и кастомизации интерьера и экстерьера транспортных средств любого типа. Эта процедура может быть осуществлена посредством аэрографа, либо при помощи виниловой плёнки. Изображение (его дизайн) может быть выполнен на заказ дизайнером. В ходе работы применяются материалы разных ценовых уровней – какой именно материал будет использован, выбирает клиент. Однако, даже недорогие материалы, которые использует ателье, проходят строгий контроль качества.
                      p
                        | Многие ателье по тюнингу предлагают широкий спектр услуг, однако заведение, открытое в рамках представленного проекта, специализируется исключительно на аэрографии и нанесении плёнки. Это позволит значительным образом снизить затраты на приобретение материалов за счёт консолидированных объёмов заказов, а также даст возможность нанять штатных специалистов – графического дизайнера, аэрографа. Это, в свою очередь, даст возможность сделать услуги более доступными, а также повысить их качество.
                      p
                        | Весьма удачно выбрано место для открытия ателье – особенности национального состава города таковы, что стремление кастомизировать свой транспорт здесь достаточно велико. Компания предполагает также охватить не только рынок Ставрополя, но также и весь Ставропольский край. Если обеспечить компании достаточный уровень известности, проводить рекламные акции и использовать маркетинговые инструменты, то это будет вполне реально.
                      p
                        | Население города составляет 426000 человек, а население всего края – 2800000 человек. По статистике в Ставрополе используется 120000 авто. Если предположить, что хотя бы пять процентов их владельцев желают кастомизировать свой автомобиль, то можно получить порядка шести тысяч потенциальных клиентов. Целевой аудиторией станут преимущественно мужчины (порядка 90 процентов) и женщины (около 10 процентов) в возрасте от 18 и до 40 лет. При этом не имеет значения средний уровень дохода потенциальных клиентов – в ателье будут предлагаться варианты разных ценовых категорий.
                      p
                        | Поисковые машины, если сделать соответствующий запрос, могут найти не больше десяти организаций, предоставляющих подобные услуги в рассматриваемом регионе. Помимо имеющих странички в интернете, ещё примерно столько же ателье работают без сайтов. Также подобные услуги иногда оказывают частные мастера.
                      p
                        | Многие тюнинг-центры оказывают услуги по чип-тюнингу двигателя, автомобильного обвеса. Графический дизайн, в свою очередь, предлагают лишь как дополнительную услугу и нередко это негативно сказывается на его качестве.
                      p
                        | Чтобы оказывать услуги по аэрографии, не требуется большого количества специализированной техники. Общая стоимость комплекта из оборудования и инструментов составляет 250 тысяч рублей. Это означает, что инвестиционные затраты и вложения в проект небольшие. Точный перечень затрат приведён в Таблице 2.
                      p(style="text-align:right") Таблица 2. Инвестиционные траты
                      table(border='1')
                        tr
                          td
                            p  №
                          td
                            p Наименование товара/оборудования
                          td
                            p Сумма, в рублях
                        tr
                          td(colspan='3')
                            p
                              i Вложения в недвижимость
                        tr
                          td
                            p 1
                          td
                            p Оборудование для помещения
                          td
                            p 100000
                        tr
                          td(colspan='3')
                            p
                              i Оборудование
                        tr
                          td
                            p 2
                          td
                            p Комплект оборудования для аэрографии
                          td
                            p 250000
                        tr
                          td(colspan='3')
                            p
                              i Активы нематериальные
                        tr
                          td
                            p 3
                          td
                            p Сайт
                          td
                            p 150000
                        tr
                          td(colspan='3')
                            p
                              i Средства оборотные
                        tr
                          td
                            p 4
                          td
                            p Оборотные средства
                          td
                            p 1000000
                        tr
                          td
                          td
                          td
                        tr
                          td
                          td
                            p Итого
                          td
                            p 1500000
                        tr
                          td
                          td
                          td
                        tr
                          td
                          td
                            p Собственные средства
                          td
                            p 500000
                        tr
                          td
                          td
                            p Необходимые заемные средства
                          td
                            p 1000000
                        tr
                          td
                          td
                          td
                        tr
                          td
                          td
                            p Ставка, в процентах
                          td
                            p 18
                        tr
                          td
                          td
                          td
                        tr
                          td
                          td
                            p Срок, в месяцах
                          td
                            p 12

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Описание услуг
                    +e.text
                      p
                        | Компания работает узко специализированно – она ориентирована именно на графический дизайн. В Таблице 3 можно найти полный перечень всех услуг, которые предлагает ателье, и цен на данные услуги. В связи с тем, что для каждой услуги может быть использован более дорогой или более дешёвый материал, в таблице указаны средние цены. Переменные затраты содержат стоимость на расходные материалы.
                      p(style="text-align:right") Таблица 3. Перечень услуг ателье
                      table(border='1')
                        tr
                          td
                          td
                            p Товар или услуга
                          td
                            p Затраты на единицу, в рублях
                          td
                            p Торговая наценка, в процентах
                          td
                            p Стоимость единицы, в рублях
                        tr
                          td
                            p 1
                          td
                            p Аэрография, за 1 квадратный метр
                          td
                            p 5000
                          td
                            p 900
                          td
                            p 50000
                        tr
                          td
                            p 2
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса C или D
                          td
                            p 17700
                          td
                            p 320
                          td
                            p 74340
                        tr
                          td
                            p 3
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса E или F
                          td
                            p 21240
                          td
                            p 300
                          td
                            p 84960
                        tr
                          td
                            p 4
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса SUV
                          td
                            p 23600
                          td
                            p 290
                          td
                            p 92040
                        tr
                          td
                            p 5
                          td
                            p Виниловая плёнка с рисунком
                          td
                            p 8720
                          td
                            p 350
                          td
                            p 39240
                        tr
                          td
                            p 6
                          td
                            p Корпоративная, либо рекламная наклейка
                          td
                            p 6350
                          td
                            p 350
                          td
                            p 28575
                        tr
                          td
                            p 7
                          td
                            p Тонировка стекла, нанесение задней полусферы
                          td
                            p 2000
                          td
                            p 100
                          td
                            p 4000
                        tr
                          td
                            p 8
                          td
                            p Плёнка антигравийная
                          td
                            p 5000
                          td
                            p 200
                          td
                            p 15000
                        tr
                          td
                            p 9
                          td
                            p Снятие виниловой плёнки
                          td
                            p 2000
                          td
                            p 900
                          td
                            p 20000
                        tr
                          td
                          td
                          td
                          td
                            p Итого:
                          td
                            p 408155
                      p
                        | Аэрография является самым дорогим способом стилизации автотранспортного средства. Посредством специального пульверизатора наносится краска на ЛКП. Это изображение может выполнить исключительно профессионал. Удалить такое изображение нельзя.
                      p
                        | На сегодняшний день всё более популярной становится виниловая плёнка – её можно наносить и на отдельную часть, и на весь кузов авто полностью. Она может быть однотонной, может иметь некую структуру (к примеру, металл, карбон), либо рисунок. Изображение может быть любым – это может быть рисунок из каталога компании или изображение, которое выполнено дизайнером на заказ. Цена нанесения плёнки напрямую зависит от её размеров.
                      p
                        | Рекламные и корпоративные наклейки на автомобиль – это нанесение на автомобиль плёнки с изображением на ней логотипа, либо рекламного обращения. В большинстве случаев, для рекламы используют передние, реже – задние двери. Рисунок может быть принесён клиентом, либо также может быть создан в ателье. В сравнении с художественными изображениями, рекламные, чаще всего, бывают более простыми.
                      p
                        | Ещё одна популярная услуга в области нанесения наклеек – это тонировка авто. Она защищает автомобиль от посторонних взглядов и солнечных лучей. Как правило, наличие тонировки уменьшает риски ограблений, взломов автотранспортных средств.
                      p
                        | Также ателье будет предоставлять услугу по нанесению антигравийной плёнки – это специальная прочная, абсолютно прозрачная плёнка, которую наклеивают на отдельные детали кузова, что предотвращает появление на них царапин и сколов. Самый эффективный вид таких плёнок – это полиуретановые. Кроме того, что они защищают ЛКП, они также делают поверхность более глянцевой и обладают самовосстанавливающимся эффектом. Срок их службы достигает порядка 5-ти – 7-ми лет.
                      p
                        | Демонтаж виниловой плёнки – это сложная и ответственная процедура, которая требует не меньшей тщательности, чем её нанесение. При её демонтаже есть риски повреждения ЛКП, поэтому сотрудники ателье отдельное вниманию уделяют особенности технологии по снятию плёнки конкретного её вида.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Продажи и маркетинг
                    +e.text
                      p Рассматриваемый проект не предусматривает использование активной технологии продаж. Привлекать клиентов компания собирается за счёт большого количества рекламы, а также участия в автомобильных шоу и различных громких мероприятиях. Для создания максимальной заинтересованности у клиентов сотрудники ателье будут демонстрировать спортивный иностранный автомобиль, недорогой по стоимости (максимум 300000 рублей). Состояние двигателя, а также салона и ходовой части значения не имеет, ведь мастера покажут свои способности в области стилизации. Не считая времени, когда демонстрационное авто станет участвовать в автошоу, оно будет представлено в одном из самых больших торговых центров Ставропольского края.
                      p Одним из ключевых методов продвижения проекта станет интернет-портал, который не только включит сведения о предлагаемых ателье услугах, но также и справочные материалы о стилизации, каталог рисунков для винилографии и аэрографии, портфолио компании. С учётом довольно маленького количества сайтов-конкурентов, хорошо сделанный ресурс может стать достаточно серьёзным шагом на пути становления успешного бизнеса – как минимум, потребители заинтересуются компанией, что сможет послужить толчком для принятия решения об обращении в ателье.
                      p Проект ателье займёт нишу со средним уровнем конкуренции. Основным преимуществом компании станет её узкая специализация, что позволит ей сосредоточить свою работу на профильных направлениях и оказывать услуги качественно (приобретать хорошее оборудование, соблюдать все технологии, держать профильных сотрудников – графического дизайнера, а также специалиста по аэрографии). Непрофильные тюнинг центры не могут себе этого позволить, поэтому страдает и качество их услуг. Таким образом, можно сделать вывод, что для ателье прямых конкурентов на рынке пока что не существует.
                      p Однако, работающие на рынке агентства предлагают схожие услуги и имеют схожий ассортимент при уровне цен ниже на десять-пятнадцать процентов, чем у рассматриваемого ателье. Более высокие цены, однако, обусловлены высоким качеством, индивидуальным подходом и наличием длительной гарантии.
                      p Основная задача маркетингового плана на ближайшие три года после открытия – это продвижение новой торговой марки как отдельного бренда с целью достижения его высокой узнаваемости.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") План производства
                    +e.text
                      p
                        | Компания разместится в помещении на выезде из города, недалеко от автомагистрали. Помещение предприниматель возьмёт в аренду. Оно должно отвечать требованием безопасности. В соответствии с проектом в помещении создадут три отдельных бокса универсального применения. Необходимая площадь помещения составляет 50 квадратных метров. Нанесение плёнки включит следующие этапы: мойку из двух стадий, очистку кузова, полировку кузова, оклейку кузова плёнкой (вся процедура, как правило, занимает от двух до четырёх дней – точный срок зависит от размера изображения, сложности поверхности). Оказание услуг после записи клиентов через сайт или по телефону.
                      p
                        | На данные услуги нет явно выраженных сезонных повышений или понижений спроса. В Приложении 1 можно ознакомиться с переменными тратами этого бизнес-плана. В Таблице 4 указаны плановые показатели объёмов продаж.
                      p(style="text-align:right") Таблица 4. Плановые объемы по продажам, а также переменные затраты
                      table(border='1')
                        tr
                          td
                          td
                            p Товар/услуга
                          td
                            p Средний плановый объём продаж, единиц в месяц
                          td
                            p Цена за единицу, в рублях
                          td
                            p Выручка, в рублях
                          td
                            p Переменные затраты, в рублях
                        tr
                          td
                            p 1
                          td
                            p Аэрография, за 1 квадратный метр
                          td
                            p 4
                          td
                            p 50000
                          td
                            p 200000
                          td
                            p 20000
                        tr
                          td
                            p 2
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса C или D
                          td
                            p 3
                          td
                            p 74340
                          td
                            p 223020
                          td
                            p 53100
                        tr
                          td
                            p 3
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса E или F
                          td
                            p 2
                          td
                            p 84960
                          td
                            p 169920
                          td
                            p 42480
                        tr
                          td
                            p 4
                          td
                            p Виниловая плёнка без рисунка за автомобиль класса SUV
                          td
                            p 1
                          td
                            p 92040
                          td
                            p 92040
                          td
                            p 23600
                        tr
                          td
                            p 5
                          td
                            p Виниловая плёнка с рисунком
                          td
                            p 2
                          td
                            p 39240
                          td
                            p 78480
                          td
                            p 17440
                        tr
                          td
                            p 6
                          td
                            p Корпоративная, либо рекламная наклейка
                          td
                            p 2
                          td
                            p 28575
                          td
                            p 57150
                          td
                            p 12700
                        tr
                          td
                            p 7
                          td
                            p Тонировка стекла, нанесение задней полусферы
                          td
                            p 15
                          td
                            p 4000
                          td
                            p 60000
                          td
                            p 30000
                        tr
                          td
                            p 8
                          td
                            p Плёнка антигравийная
                          td
                            p 10
                          td
                            p 15000
                          td
                            p 150000
                          td
                            p 50000
                        tr
                          td
                            p 9
                          td
                            p Снятие виниловой плёнки
                          td
                            p 5
                          td
                            p 20000
                          td
                            p 100000
                          td
                            p 10000
                        tr
                          td
                          td
                          td
                          td
                            p Итого:
                          td
                            p 1130610
                          td
                            p 259320
                      p
                        | Клиенты могут выбрать из нескольких видов плёнки в разной ценовой категории (китайские и европейские производители).
                      p
                        | Так как некоторые виды работ осуществляются в течение всего нескольких часов (например, нанесение плёнки антигравийной или тонировка стекла), то в помещении предполагают создать комнату для отдыха с креслами и диваном, а также с кофейным автоматом. Площадь данного помещения оставит 75 квадратных метров.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Организационный план
                    +e.text
                      p
                        | В качестве организационно-правовой формы выбрано ИП. Собственник проекта будет осуществлять руководящие функции, а также процедуры по стратегическому планированию. В компании отсутствует сложная структура.
                      p
                        | Администратор компании будет вести запись клиентов, а также отвечать за порядок – для этой работы не потребуется квалификация и дополнительное образование. Бухгалтерский учёт передадут на аутсорсинг.
                      p
                        | Отдельные требования должны предъявляться только к сотрудникам производства – в частности, аэрограф должен иметь опыт в данной сфере не менее пяти лет (отбор проведут только среди специалистов с портфолио). Кроме того, ему потребуется выполнить тестовое задание.
                      p
                        | Что касается графического дизайнера, то его работа заключается в создании изображений для виниловых наклеек. Требования к специалисту: наличие портфолио, а также знание программного обеспечения для дизайнеров. Опыт работ не обязателен.
                      p
                        | Сотрудники производства станут выполнять весь спектр работ, которые связаны с подготовкой автотранспортного средства к нанесению и снятию плёнки, нанесению и аэрографии. Требования для сотрудников производства – стаж работы в автомастерской, лучше – в тюнинг центре. В качестве испытательного срока решено установить период в три месяца.
                      p(style="text-align:right") Таблица 5. Штатное расписание, а также фонд оплаты труда
                      table(border='1')
                        tr
                          td
                          td
                            p Должность сотрудника
                          td
                            p Оклад, в рублях
                          td
                            p Количество человек
                          td
                            p ФОТ, в рублях
                        tr
                          td(colspan='5')
                            p
                              i Административный отдел
                        tr
                          td
                            p 1
                          td
                            p Администратор
                          td
                            p 25000
                          td
                            p 1
                          td
                            p 25000
                        tr
                          td(colspan='5')
                            p
                              i Производственный отдел
                        tr
                          td
                            p 2
                          td
                            p Специалист-аэрограф
                          td
                            p 40000
                          td
                            p 1
                          td
                            p 40000
                        tr
                          td
                            p 3
                          td
                            p Графический дизайнер
                          td
                            p 25000
                          td
                            p 1
                          td
                            p 25000
                        tr
                          td
                            p 4
                          td
                            p Специалисты производства
                          td
                            p 25000
                          td
                            p 4
                          td
                            p 100000
                        tr
                          td
                          td
                          td
                          td
                          td
                        tr
                          td
                          td(colspan='3')
                            p Итого:
                          td
                            p 190000
                        tr
                          td
                          td(colspan='3')
                            p Налоговые отчисления:
                          td
                            p 57000
                        tr
                          td
                          td(colspan='3')
                            p Итого с налоговыми отчислениями:
                          td
                            p 247000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Финансовый план
                    +e.text
                      p
                        | Для анализа инвестиционного потенциала создаётся финансовый расчёт на перспективу в пять лет, а также специальный план о движении денежных средств. Объёмы вложений составят 1500000 рублей, основные затраты при этом пойдут на создание пакета оборотных средств, которые потребуются до момента выхода проекта к точке окупаемости. Собственные средства собственника составят 500000 рублей, остальные предприниматель возьмёт в банке на срок 12 месяцев.
                      p
                        | Переменные затраты включают стоимость применяемых материалов. Постоянные траты указаны в Таблице 6. Одной из основных статей расхода станет реклама. Амортизация будет учитывать стоимость затрат инвестиционного характера, но без затрат, которые пойдут на оборотные средства (расчёт амортизации произведён линейным способом на пять лет). Постоянные затраты составят 172 тысячи рублей за один месяц. В Приложении 2 приведён финансовый отчёт представленного бизнес-плана.
                      p(style="text-align:right") Таблица 6. Затраты постоянные
                      table(border='1')
                        tr
                          td
                            p №
                          td
                            p Наименование
                          td
                            p Сумма за один месяц, в рублях
                        tr
                          td
                            p 1
                          td
                            p Арендная плата
                          td
                            p 35000
                        tr
                          td
                            p 2
                          td
                            p Рекламные расходы
                          td
                            p 70000
                        tr
                          td
                            p 3
                          td
                            p Оплата коммунальных платежей
                          td
                            p 20 00
                        tr
                          td
                            p 4
                          td
                            p Телефония, интернет
                          td
                            p 7000
                        tr
                          td
                            p 5
                          td
                            p Амортизационные расходы
                          td
                            p 10000
                        tr
                          td
                            p 6
                          td
                            p Расходы коммерческие
                          td
                            p 20000
                        tr
                          td
                            p 7
                          td
                            p Управленческие расходы
                          td
                            p 10000
                        tr
                          td
                          td
                            p Итого:
                          td
                            p 172000

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Оценка эффективности проекта
                    +e.text
                      p Оценка эффективности данного проекта рассчитана на основе интегральных показателей эффективности, которые применяются во всём мире. Показатели рассчитаны в пятилетней перспективе и учитывают стоимость денег во времени. В связи с этим введена ставка дисконтирования 10% (услуги не являются новыми для рынка, в целом, рынок стабилен, а уровень рисков невелик).
                      p Дисконтированный чистый доход равняется 13,96 миллионам рублей, а это значительно выше инвестиционных трат. Срок окупаемости составляет двенадцать месяцев. При этом внутренняя норма доходности компании составляет 10,97 процентов, что превышает ставку дисконтирования. Индекс доходности в 8,46 также значительно превышает 1. Это говорит о том, что проект обладает высокой инвестиционной привлекательностью.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Риски и гарантии
                    +e.text
                      p На стадии подготовки реализации проекты потребуется предусмотреть все возможные риски, а также методы их предотвращения, способы ликвидации последствий.
                      p Основным риском в данном случае является неверная оценка ситуации на рынке и, как следствие, невыполнение плана по выручке. Несмотря на то, что неоднократно проводилась перепроверка сведений и информации, на случай отрицательного развития ситуации существует альтернативный план, по которому возможно снижение расходов благодаря переводу на аутсорсинг художника, дизайнера, а также сокращение одного из специалистов производства.
                      p Также существует риск появления конкурента со схожим набором услуг, однако это маловероятно из-за узкой направленности деятельности ателье. Скорее возможно повышение качества подобных услуг у уже существующих конкурентов. Для предотвращения таких мер предусмотрены мероприятия по созданию системы лояльности для заказчиков и привлечение новых клиентов на за счёт массовой рекламы.
                      p Учитывая уровень вложений, можно сказать, что риски, сопряжённые с реализацией проекта, невелики.

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Приложения
                    +e.text
                      p ПРИЛОЖЕНИЕ №1 
                      p Показатели выручки, показатели переменных затрат 
                      p ПРИЛОЖЕНИЕ №2 
                      p План движения средств 

                  +e.item
                    +e.H3.type
                      +e.link(href="#") Сертификация
                    +e.text
                      p Для грамотного продвижения бизнеса при реализации данного проекта может потребоваться получение сертификата ИСО на услуги, либо добровольного сертификата в системе ГОСТ Р. Полученный документ даст возможность увеличить инвестиционный потенциал, повысить позиции на рынке, привлечь новых клиентов – ведь информацию об имеющихся сертификатах можно использовать в маркетинговых акциях.
                      p За более подробными сведениями и для получения сертификата обращайтесь к нашим специалистам.


              +e.options
                +e.btn
                  +b.A.btn--red.--border-red(target="_blank", href="#") Скачать в pdf
                +b.share Поделиться
                  +b.A.btn--vk(target="_blank", href="#")                  
                  +b.A.btn--fb(target="_blank", href="#")  
                  +b.A.btn--tw(target="_blank", href="#")  


          .col-xs-12.col-lg-4
            // Complex offered services 
            +b.SECTION.complex-offered-services
              +e.H2.title Комплексное оформление документов
              +e.UL.list
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='registration',  checked)
                  +e.block-title
                    +e.LABEL.label(for='registration')
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Регистрация ООО/ИП/НКО
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Подготовка документов
                    +e.item
                      +e.link(href='page-services.html') Расчетный счет
                    +e.item
                      +e.link(href='page-services.html') Юридический адрес                      
                +b.offered-services-type
                  +e.INPUT.input(type='checkbox', id='certification')
                  +e.block-title
                    +e.LABEL.label(for='certification')
                      +e.icon              
                    +e.H3.title
                      +e.link(href='page-services.html') Сертификация продукции и услуг
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Проведение испытаний
                    +e.item
                      +e.link(href='page-services.html') Доставка сертификата  
                +b.offered-services-type                  
                  +e.INPUT.input(type='checkbox', id='bookeeping')
                  +e.block-title
                    +e.LABEL.label(for='bookeeping') 
                      +e.icon
                    +e.H3.title
                      +e.link(href='page-services.html') Бухгалтерские услуги
                  +e.UL.list
                    +e.item
                      +e.link(href='page-services.html') Консультация
                    +e.item
                      +e.link(href='page-services.html') Составление и сдача отчетности
              +e.total Итог
                +e.SPAN.total-money 15 000 руб.

              +e.form
                // Form application
                +b.SECTION.form--application-services
                  form(action='', method='')
                    .form-group.field-name.required
                      +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
                      p.help-block Ошибка заполнения поля формы
                    .form-group.field-tel
                      +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
                      p.help-block Ошибка заполнения поля формы
                    .form-group
                      +b.BUTTON.btn--blue.--border-white(type='submit') Отправить заявку
                      p.help-block.help-block-success Ваша заявка отправлена

    // Succeeded examples
    include partials/components/_succeeded-examples.pug
    // Expert help
    include partials/components/_expert-help.pug
    // Expert answers
    include partials/components/_expert-answers.pug
    // Offers
    include partials/components/_offers--excerpt.pug




