.btn{
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px; 
  text-transform: uppercase;
  color: $text-color-white;
  padding: 8px 20px;
  margin: 0;
  // width: 100%;
  &:hover, &:focus, &:active{
    color: $text-color-white;
    text-decoration: none;
  }

  &--header{
    &:hover, &:focus, &:active{
      border: 1px solid $blue;
    }    
  }
  &--header, &--footer{
    width: 100%;
    padding: 8px;
    text-transform: none;
  }
  &--red{
    background-color: $red;
    &:hover, &:focus, &:active{
      color: $red;
      background-color: $white;
    }
  }
  &--blue{
    background-color: $blue;
    &:hover, &:focus, &:active{
      color: $blue;
      background-color: $white;
    }
  }
  &--color-red{
    color: $red;
    &:hover, &:focus, &:active{
      color: $text-color-white;
      background-color: $red;      
    }    
  }
  &--color-blue{
    color: $blue;
    &:hover, &:focus, &:active{
      color: $text-color-white;
      background-color: $blue;      
    }    
  }
  &--border-white{
    border: 1px solid $white;
  }
  &--border-red{
    border: 1px solid $red;
  }
  &--border-blue{
    border: 1px solid $blue;
  }  
 
  &--vk{    
    @include sprite($s-social-vk); 
    padding: 0;
    vertical-align: text-bottom;
  }
  &--fb{    
    @include sprite($s-social-fb); 
    padding: 0;
    vertical-align: text-bottom;
  }
  &--tw{    
    @include sprite($s-social-tw); 
    padding: 0;
    vertical-align: text-bottom;
  }
}

