.footer{
  background-color: $grey-footer;
  padding: 25px 0 15px;

  // &--stuck-to-bottom{
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;   
  // }

  &__btn{
    margin-left: -10px;
  }
}
