.header{
  position: relative;

  &__btn{
    margin-left: -10px;
    @include mq($from:xs, $until:lg){
      margin: 0;
      // text-align: right;
    } 
    @include mq($from:xs, $until:sm){
      margin: 0 0 20px;
      // text-align: right;
    }
  }
  &__form{
    background-color: $blue;
    color: $text-color-white;
  }
  &__hamburger{
    // display: none;
    text-align: center;
    // margin: 5px 0;
    // @include mq($from:xs, $until:lg){
    //   display: block;
    // }    
  } 
}

.logo{
  max-width: 180px;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: $font-size-logo;
  @include font-family('Proxima Nova Extrabold', normal, normal);
  display: block;
  @include mq($from:xs, $until:sm){
    margin: 0 auto;
  }

  // &--header{
  //   margin: 35px 0;
  //   @include mq($from:xs, $until:lg){
  //     margin: 20px 0;
  //   }
  // }
  // &--footer{
  //   margin: 10px 0;
  //   @include mq($from:xs, $until:lg){
  //     margin: 10px 0 30px;
  //   }
  // }
}

