.marks{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }
  &__item{
    background-color: $grey-marks;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: 10px;
  }
  &__close{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    @include sprite($s-close-grey);
  }
}
