.questions{
  margin-top: 120px;
  text-align: center;
  @include mq($from:xs, $until:lg){
    margin-top: 50px;
  }
  
  &__title{
    text-align: center;
    display: inline-block;
    border-left: 3px solid $blue;
    padding-left: 25px;
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 0 0 15px;
  }
}

.questions-type{
  &:nth-of-type(1){
    border-right: 1px dashed $grey-border;
    .questions-type__icon{
      @include sprite($s-staff1);
      flex: 0 0 24px;
    }
  }
  &:nth-of-type(2){
    border-right: 1px dashed $grey-border;
    .questions-type__icon{
      @include sprite($s-staff2);
      flex: 0 0 32px;
    }
  }
  &:nth-of-type(3){
    .questions-type__icon{
      @include sprite($s-staff3);
      flex: 0 0 27px;
    }
  }
  &__inner{
    padding: 0 30px;
  }
  &__title{
    display: flex;
    align-items: center;
    @include font-family('Proxima Nova Light', normal, normal);
    color: $text-black;
    margin: 20px 0;
  }
  &__icon{
    margin-right: 10px;
  }
  &__btn{
    margin-top: -10px;
  }
}

.question{
  text-align: left;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
  &__ask{
    color: $text-black;
  }
  &__answer{
    font-size: $font-size-small;
    padding: 0 80px 20px 30px;
  }
  &__person{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0; 
    max-width: 100px;   
  }
  &__img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__link{
    font-size: $font-size-small;
    color: $red;  
    &:hover, &:focus {
      color: $red; 
    }
  }
}


.order{
  color: $grey-date;  
}
.index{
  margin-right: 10px;
}
.date{
  color: $grey-date;
}