.subscribe-section{
  background-color: $blue;
  color: $text-color-white;
  padding: 20px;

  &__title{
    font-size: $font-size-big;
    @include font-family('Proxima Nova Regular', normal, normal);
    margin: 0 0 15px;
  }
  // &__input{
  //   border-radius: 3px;
  //   color: $text-color-white;
  //   background-color: transparent;
  //   padding: 8px 10px;    
  //   border: 1px solid $white;
  //   outline: none;
  //   margin-bottom: 20px;
  //   &::-webkit-input-placeholder{
  //     color: $text-color-white;         
  //   }       
  //   &::placeholder{
  //     color: $text-color-white;         
  //   }
  //   &:focus::-webkit-input-placeholder{
  //     color: transparent;         
  //   }       
  //   &:focus::placeholder{
  //     color: transparent;         
  //   } 
  // }
  &__form{
    form{
      align-items: flex-end;
    }
    .form__input{
      margin-bottom: 0;
    }
  }
}
