.subscribe{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  color: $text-color-white;

  &__title{
    font-size: $font-size-title;
    @include font-family('Proxima Nova Light', normal, normal);
    // color: $text-color-white;
    margin: 0;
  }
  &__text{
    margin: 5px 0;
    // color: $text-color-white;
    @include font-family('Proxima Nova Light', normal, normal);
  }
}
