include ../abstracts/bemto/bemto.pug

+b.SECTION.consult
  +e.H2.title Консультация экспертов

  +b.staff--certificators.row
    .col-xs-12.col-lg-4
      +e.description
        +e.icon
        +e.A.position(href='page-type-questions.html') Специалисты по сертификации
        +e.text готовы ответить на ваши вопросы 24/7 
    .col-xs-12.col-lg-8
      +e.gallery
        - for (var i = 0; i < 5; i++){
          +e.person(itemscope, itemtype="http://schema.org/Person")
            +e.img
              img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
            +e.H3.name(itemprop="name") Ирина Владимирова
        - }
  +b.staff--lawyers.row
    .col-xs-12.col-lg-4
      +e.description
        +e.icon
        +e.A.position(href='page-type-questions.html') Юристы центра
        +e.text проконсультируют по вопросам регистрации бизнеса 
    .col-xs-12.col-lg-8
      +e.gallery
        - for (var i = 0; i < 6; i++){
          +e.person(itemscope, itemtype="http://schema.org/Person")
            +e.img
              img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
            +e.H3.name(itemprop="name") Ирина Владимирова
        - }
  +b.staff--bookkeepers.row
    .col-xs-12.col-lg-4
      +e.description
        +e.icon
        +e.A.position(href='page-type-questions.html') Бухгалтерская поддержка
        +e.text по расчетам и налогообложению
    .col-xs-12.col-lg-8
      +e.gallery
        - for (var i = 0; i < 4; i++){
          +e.person(itemscope, itemtype="http://schema.org/Person")
            +e.img
              img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
            +e.H3.name(itemprop="name") Ирина Владимирова
        - }

