include ../abstracts/bemto/bemto.pug


+b.SECTION.expert-help
  .container
    if pageServices
      +e.H2.title Выберите опытного специалиста для ведения вашего дела
    else
      +e.H2.title Помощь от идеи до старта
    +e.gallery
      - for (var i = 0; i < 6; i++){
        +e.person(itemscope, itemtype="http://schema.org/Person")
          +e.img
            img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
          +e.name(itemprop="name") Ирина Сдлиннойфамилией
      - }
    +e.description Специалисты центра подготовят документы для открытия бизнеса, помогут просчитать риски и провести сертификацию
    +e.form
      +e.H3.form-title Обратитетсь к нам за комплексной помощью или только по оформлению этой бизнес-идеи
      +b.SECTION.form
        form(action='', method='')
          .form-group.field-name.required
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-tel
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email
            +e.INPUT.input(type='tel', name='Email', placeholder='Ваш email')
            p.help-block Ошибка заполнения поля формы
          .form-group
            +b.BUTTON.btn--blue.--border-white(type='submit') Отправить
            p.help-block.help-block-success Ваша заявка отправлена
    +e.steps
      include _steps--wide.pug


