include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_specialist-item.pug

+b.SECTION.expert-help
  .container
    if pageServices
      +e.H2.title Выберите опытного специалиста для ведения вашего дела
    else
      +e.H2.title Помощь от идеи до старта
    +e.gallery
      +specialistItem('Екатерина Косова', 'Ekaterina_Kosova')
      +specialistItem('Ирина Сухова', 'Irina_Suhova')
      +specialistItem('Ирина Александрова', 'Irina_Alexandrova')
      +specialistItem('Мария Бутакова', 'Maria_Butakova')
      +specialistItem('Оксана Лоскутова', 'Oksana_Loskutova')
      +specialistItem('Алена Сагидуллина', 'Alena_Sagidullina')
    +e.description Специалисты центра подготовят документы для открытия бизнеса, помогут просчитать риски и провести сертификацию
    +e.form
      // Form expert help
      +b.SECTION.form--expert-help
        form(action='', method='')
          +e.H3.title Обратитетсь к нам за комплексной помощью или только по оформлению этой бизнес-идеи
          .form-group.field-name.required
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-tel
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Ваш телефон')
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email
            +e.INPUT.input(type='tel', name='Email', placeholder='Ваш email')
            p.help-block Ошибка заполнения поля формы
          .form-group
            +b.BUTTON.btn--blue.--border-white(type='submit') Отправить
            p.help-block.help-block-success Ваша заявка отправлена
    +e.steps
      include _steps--wide.pug


