include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  +e.inner
    .container
      .row.row-xs-middle
        .col-xs-12.col-sm-5.col-md-4.col-lg-3.col-xl-2
          +e.logo
            // Logo
            +b.A.logo--footer(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
              img(src="img/logo.svg", alt="logo", title="logo", itemprop="logo")
              //- span.blue Единый портал
              //- span.red бизнес услуг

        .col-xs-12.col-sm-5.offset-sm-2.col-md-3.offset-md-5.col-lg-2.offset-lg-0.flex-lg-last
          +e.btn
            +b.A.btn--blue.--footer(href="#", data-form='call') Свяжитесь со мной

        .col-xs-12.col-lg-7.col-xl-8
          // Nav
          +b.NAV.nav
            +e.UL.list
              +e.item 
                +e.A.link(href="page-business.html") Бизнес-планы
              +e.item 
                +e.A.link(href="page-services.html") Услуги
              +e.item 
                +e.A.link(href="page-expert.html") Эксперты и консультация
              +e.item 
                +e.A.link(href="page-reviews.html") Отзывы
              //- +e.item
              //-   +e.A.link(href="page-contacts.html") Контакты

// Overlay
+b.overlay
  +e.bg
  +e.form
    +e.close(href="/")
    // Form upload
    +b.SECTION.form--upload
      form(action='', method='')
        +e.H3.title Расскажите свою историю успеха
        .form-group.field-name.required
          div Ваше имя*
          +e.INPUT.input(type='text', name='Имя')
          p.help-block Ошибка заполнения поля формы
        .form-group.field-question
          div Введите текст
          +e.TEXTAREA.textarea(name='Текст')
          p.help-block Ошибка заполнения поля формы
        .form-group.field-upload
          div Загрузите фото
          +e.INPUT.input(type="file", accept="image/jpeg,image/png,image/gif", name='Фото')
          p.help-block Ошибка заполнения поля формы
        .form-group
          +b.BUTTON.btn--red(type='submit') Отправить
          p.help-block.help-block-success Ваша заявка отправлена
    // Form application
    +b.SECTION.form--application
      form(action='', method='')
        .form-group.field-name.required
          div Ваше имя*
          +e.INPUT.input(type='text', name='Имя')
          p.help-block Ошибка заполнения поля формы
        .form-group.field-tel.required
          span Ваш телефон*
          +e.INPUT.input(type='text', name='Телефон')
          p.help-block Ошибка заполнения поля формы
        .form-group.field-email.required
          span Ваш email*
          +e.INPUT.input(type='text', name='Email')
          p.help-block Ошибка заполнения поля формы
        .form-group
          +b.BUTTON.btn--red(type='submit') Отправить
          p.help-block.help-block-success Ваша заявка отправлена
    // Form call
    +b.SECTION.form--call
      form(action='', method='')
        .form-group.field-name.required
          div Ваше имя*
          +e.INPUT.input(type='text', name='Имя')
          p.help-block Ошибка заполнения поля формы
        .form-group.field-tel.required
          span Ваш телефон*
          +e.INPUT.input(type='text', name='Телефон')
          p.help-block Ошибка заполнения поля формы
        .form-group
          +b.BUTTON.btn--red(type='submit') Отправить
          p.help-block.help-block-success Ваша заявка отправлена

