include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  +e.inner
    .container
      .row.row-xs-middle
        .col-xs-12.col-sm-5.col-md-4.col-lg-3.col-xl-2
          // Logo
          +b.A.logo--footer(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
            //- img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
            span.blue Единый портал
            span.red бизнес услуг

        .col-xs-12.col-sm-5.offset-sm-2.col-md-3.offset-md-5.col-lg-2.offset-lg-0.flex-lg-last
          +e.btn
            +b.A.btn--blue.--footer(href="#") Свяжитесь со мной

        .col-xs-12.col-lg-7.col-xl-8
          // Nav
          +b.NAV.nav
            +e.UL.list
              +e.item 
                +e.A.link(href="page-business.html") Бизнес-планы
              +e.item 
                +e.A.link(href="page-services.html") Услуги
              +e.item 
                +e.A.link(href="page-expert.html") Эксперты и консультация
              +e.item 
                +e.A.link(href="page-reviews.html") Отзывы
              +e.item
                +e.A.link(href="page-contacts.html") Контакты



//- // Overlay
//- +b.overlay
  //- +e.form
  //-   include _form--modal.pug



