include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  +e.inner
    .container
      .row.row-xs-middle
        .col-xs-12.col-sm-5.col-lg-3.col-xl-2
          +e.logo
            // Logo
            +b.A.logo--header(href="index.html", itemscope, itemtype="http://schema.org/Brand") 
              img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
              //- span.blue Единый портал
              //- span.red бизнес услуг

        .col-xs-12.col-sm-2.hidden-lg
          +e.hamburger
            +b.A.hamburger(href="#")
              span

        .col-xs-12.flex-sm-last.col-lg-7.flex-lg-unordered.col-xl-8                  
          // Nav
          +b.NAV.nav
            +e.UL.list
              +e.item 
                +e.A.link(href="page-business.html") Бизнес-планы
              +e.item 
                +e.A.link(href="page-services.html") Услуги
              +e.item 
                +e.A.link(href="page-questions.html") Эксперты и консультация
              +e.item 
                +e.A.link(href="page-reviews.html") Отзывы
              //- +e.item
              //-   +e.A.link(href="page-contacts.html") Контакты

        .col-xs-12.col-sm-4.offset-sm-1.col-lg-2.offset-lg-0
          +e.btn
            +b.A.btn--blue.--header(href="#", data-form='call') Свяжитесь со мной


