include ../abstracts/bemto/bemto.pug

+b.SECTION.offers
  .container
    +e.inner     
      //- 1
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 2
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 3
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 4
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 5
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 6
      +b.ARTICLE.offer-item--form
        // Form header
        +b.SECTION.form--offers
          form(action='', method='')
            +e.P.text Заполните поля для расчета Вашего бизнес-плана
            .form-group.field-branch 
              span Отрасль
              +e.SELECT.select.branch-list
                option Отрасль 1
                option Отрасль 2
                option Отрасль 3
                option Отрасль 4
                option Отрасль 5
            .form-group.field-budget 
              span Бюджет            
              +e.INPUT.input(type='text', name='Бюджет')
              span тыс.руб
              p.help-block Ошибка заполнения поля формы
            .form-group.field-tel.required
              span Телефон
              +e.INPUT.input(type='text', name='Телефон')
              p.help-block Ошибка заполнения поля формы
            .form-group.field-email.required
              span Email
              +e.INPUT.input(type='text', name='Email')
              p.help-block Ошибка заполнения поля формы
            .form-group
              +b.BUTTON.btn--red.--border-white(type='submit') Подобрать
              p.help-block.help-block-success Ваша заявка отправлена
      //- 7
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц              
      //- 8
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 9
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 10
      +b.ARTICLE.offer-item
        +e.A.link(href="single-offer.html")
          +e.DIV.img
            img(src='img/offer1.jpg', alt='offer1', title='offer1')
          +e.DIV.text          
            +e.H3.title Фитоняшка
            +e.description бизнес-план для собственного фитнесс-клуба
          +e.DIV.details
            +b.offer-detail
              +e.figures 4 000 000 Р
              +e.text Стартовый капитал 
            +b.offer-detail
              +e.figures 6 мес
              +e.text Окупаемость 
            +b.offer-detail
              +e.figures 90 000 Р
              +e.text Прибыль в месяц
      //- 11
      +b.ARTICLE.offer-item--not-found
        +e.DIV.inner        
          +e.H3.title Ничего не нашли?
          +e.description посмотрите 
            +e.SPAN.amount 132 варианта 
            | бизнес-планов
          +e.btn
            +b.A.btn--border-red.--color-red(href="#") Показать все
      //- 12
      +b.ARTICLE.offer-item--blue
        +e.DIV.inner        
          +e.H3.title Рассчитаем и составим бизнес-план по вашей идее
          +e.description под ваш бюджет и пожелания
          +e.btn
            +b.A.btn--border-white.--blue(href="#") Узнать подробнее