include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_question-item.pug

+b.SECTION.questions
  .container
    +b.questions-controls
      +e.sort Сортировать
        +e.sort-link(href='#') по отраслям
        +b.UL.sort
          +e.item
            +e.link(href='#') отрасль 1
          +e.item
            +e.link(href='#') отрасль 2
          +e.item
            +e.link(href='#') отрасль 3
          +e.item
            +e.link(href='#') отрасль 4

      +e.filter Показывать 
        +e.filter-link(href='#') популярные
        =' / '
        +e.SPAN.filter-chosen последние

    +e.expert-types
      +b.expert-type--certificators
        +e.H3.title
          +e.icon
          +e.branch(href="page-type-questions.html") Сертификация и декларирование
        .row
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem

      +b.expert-type
        +e.H3.title
          +e.icon
          +e.branch(href="page-type-questions.html") Охрана труда (СОУТ)
        .row
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem

      +b.expert-type
        +e.H3.title
          +e.icon
          +e.branch(href="page-type-questions.html") Техническая документация
        .row
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem

      +b.expert-type--lawyers
        +e.H3.title
          +e.icon
          +e.branch(href="page-type-questions.html") Регистрация бизнеса
        .row
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem

      +b.expert-type--bookkeepers
        +e.H3.title
          +e.icon
          +e.branch(href="page-type-questions.html") Бухгалтерская поддержка
        .row
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem
          .col-xs-12.col-lg-4
            +questionItem

    //- +b.pagination
    //-   +e.A.number--current(href="page-questions.html") 1
    //-   +e.A.number(href="page-questions.html") 2
    //-   +e.A.number(href="page-questions.html") 3
    //-   +e.SPAN.dots ...
    //-   +e.A.number(href="page-questions.html") 10