include ../abstracts/bemto/bemto.pug


+b.question-type-choise
  .container
    +e.inner
      +e.UL.list
        +e.item
          +e.link--active(href="page-type-questions.html") Сертификация и декларирование
        +e.item
          +e.link(href="page-type-questions.html") Охрана труда (СОУТ)
        +e.item
          +e.link(href="page-type-questions.html") Техническая документация
        +e.item
          +e.link(href="page-type-questions.html") Регистрация бизнеса
        +e.item
          +e.link(href="page-type-questions.html") Бухгалтерские услуги
      // Search
      +b.search
        +e.A.icon(href="#")
        // Form search
        +b.SECTION.form--search
          form(action='', method='')
            .form-group.field-question.required
              +e.INPUT.input(type='text', name='Вопрос', placeholder="Ваш вопрос")
              p.help-block Ошибка заполнения поля формы
            .form-group
              +b.BUTTON.btn--red(type='submit') Найти
              p.help-block.help-block-success Ваша заявка отправлена









