include ../abstracts/bemto/bemto.pug

+b.SECTION.questions
  .container
    +e.H2.title Отвечают эксперты
    .row

      +b.questions-type--certificators.col-xs-12.col-lg-4
        +e.inner
          +e.H3.title
            +e.icon
            +e.branch Специалисты по сертификации
          +e.articles
            include _questions-article.pug
            include _questions-article.pug
          +e.questions-type__btn               
            +b.A.btn--border-red.--color-red(href="#") Все вопросы

      +b.questions-type--lawyers.col-xs-12.col-lg-4
        +e.inner
          +e.H3.title
            +e.icon
            +e.branch Юристы центра
          +e.articles
            include _questions-article.pug
            include _questions-article.pug
          +e.questions-type__btn               
            +b.A.btn--border-red.--color-red(href="#") Все вопросы

      +b.questions-type--bookkeepers.col-xs-12.col-lg-4
        +e.inner      
          +e.H3.title
            +e.icon
            +e.branch Бухгалтерская поддержка
          +e.articles
            include _questions-article.pug
            include _questions-article.pug
          +e.questions-type__btn              
            +b.A.btn--border-red.--color-red(href="#") Все вопросы



        
 
