include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_review-item.pug

+b.SECTION.reviews
  .container
    +e.articles
      //- 1
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки</p>')
      //- 2
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!!</p>')
      //- 3
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
      //- 4
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
      //- 5
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
      //- 6    
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
      //- 7
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>') 
      //- 8   
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>')
      //- 9
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
      //- 10
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>') 
      //- 11
      +reviewItem('<p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p><p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>')
    +e.btn
      +b.A.btn--border-red.--color-red(href="#") Показать еще
