include ../abstracts/bemto/bemto.pug

+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")

  +e.inner
    .container
      +e.H1.title Услуги
      +e.description Доступен широкий перечень услуг по открытию и сопровождению бизнеса. Просто выберите необходимые ниже

  .container
    .row
      +e.content.col-xs-12.col-xl-7
        +e.UL.list
          +b.service
            +e.H2.title Сертификация и декларирование
            +e.UL.list
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификация продукции
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат на услуги
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат происхождения
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат промышленной безопасности
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат соответствия ГОСТ Р
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат соответствия ТР ТС
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Декларация соответствия Таможенного союза
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Таможенная декларация соответствия
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Сертификат CE
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Добровольная сертификация
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Декларация соответствия ГОСТ Р
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Декларация соответствия Техническому регламенту
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Декларация связи
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.

          +b.service
            +e.H2.title Охрана труда
            +e.UL.list
              +e.item
                +e.H3.type
                  +e.link(href="#") Специальная оценка условий труда
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 

          +b.service
            +e.H2.title Техническая документация
            +e.UL.list
              +e.item
                +e.H3.type
                  +e.link(href="#") Обоснование безопасности
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Паспорт безопасности вещества
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Паспорт изделия
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Рецептуры
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Руководство по эксплуатации
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Технические условия
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Разработка ТУ на жидкости
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Технологический регламент
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Технологические инструкции
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Разработка стандарта организации
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Штрихкоды
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.

          +b.service
            +e.H2.title Регистрация бизнеса
            +e.UL.list
              +e.item
                +e.H3.type
                  +e.link(href="#") Консультация
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Подготовка документов
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Подача и получение в налоговой
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Юридический адрес
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком.
              +e.item
                +e.H3.type
                  +e.link(href="#") Изготовление печати
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Открытие счета
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Доставка
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 

          +b.service
            +e.H2.title Бухгалтерские услуги
            +e.UL.list
              +e.item
                +e.H3.type
                  +e.link(href="#") Консультация
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Согласование и сдача отчетности
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 
              +e.item
                +e.H3.type
                  +e.link(href="#") Составление учетной политики организации
                +e.text
                  p Целью настоящего проекта является открытие детской парикмахерской в городе с населением более 1 млн. человек для удовлетворения потребностей маленьких горожан в парикмахерских услугах. 
                  p Клиентами парикмахерской станут дети возрастом от 1 года до 14 лет, а также их родители, желающие подстричься вместе с ребенком. 

      +e.sidebar.col-xs-12.col-xl-5
        +b.service-stages--relative
          +e.btn
            +b.A.btn--red.--border-red(href="#") Оставить заявку
          +e.UL.list
            +b.service-stage-item--1
              +e.icon
              +e.UL.list
                +e.item
                  +e.time Прямо сейчас!
                +e.item
                  +e.time 15 минут
                  +e.text Специалист связывается с вами
                +e.item
                  +e.time В течение 2х часов
                  +e.text Согласование необходимого перечня документов, сроков исполнения
                +e.item
                  +e.time В течение суток
                  +e.text Дистанционная подготовка документов и исполнение заказов

            +b.service-stage-item--2
              +e.icon
              +e.UL.list
                +e.item
                  +e.time 15 минут
                  +e.text Специалист связывается с вами
                +e.item
                  +e.time За 3 дня
                  +e.text Проведение испытаний
                +e.item
                  +e.time За 4 дня
                  +e.text Согласование макета разрешительных документов

            +b.service-stage-item--3
              +e.icon
              +e.UL.list
                +e.item
                  +e.time 15 минут
                  +e.text Специалист связывается с вами
                +e.item
                  +e.time За неделю
                  +e.text Доставка документов курьером