include ../abstracts/bemto/bemto.pug

+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")
  .container         
    +e.H1.title Услуги
    +e.description Доступен широкий перечень услуг по открытию и сопровождению бизнеса. Просто выберите необходимые ниже
    +b.service-table
      .row.row-xs-bottom
        .col-xs-12.col-lg-5
          +e.H2.title Все услуги 
            span.smaller (выберите услуги)
        .col-xs-12.col-lg-2
          +e.H2.title Эксперты
        .col-xs-12.col-lg-5
          +e.H2.title Этапы

      +b.service.row
        +e.content.col-xs-12.col-lg-5
          +e.name
            +e.INPUT.input(type='checkbox', name='stage1')
            +e.H2.title Регистрация вашего бизнеса
            +e.total-wrapper Итого
              +e.total-price 15 000 руб.
          +e.UL.list
            +e.item 
              //- +e.INPUT.input(type='checkbox', name='stage1')
              +e.text Консультация
              +e.price 0 руб.
            +e.item 
              +e.text Подготовка документов
              +e.price 1500 руб.
            +e.item 
              +e.text Подача и получение в налоговой
              +e.price 1390 руб.
            +e.item 
              +e.text Юридический адрес
              +e.price 2500 руб.
            +e.item 
              +e.text Изготовление печати
              +e.price 1200 руб.
            +e.item 
              +e.text Открытие счета
              +e.price 2900 руб.
            +e.item 
              +e.text Доставка
              +e.price 0 руб.
        +e.experts.col-xs-12.col-lg-2
          +e.gallery
            - for (var i = 0; i < 3; i++){
              +e.person(itemscope, itemtype="http://schema.org/Person")
                +e.img
                  img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
                +e.H3.name(itemprop="name") Ирина Сдлиннойфамилией
            - }
        +e.stages.col-xs-12.col-lg-5
          +e.btn
            +b.A.btn--red(href="#") Оставить заявку
          +b.service-stages
            +e.UL.list
              +e.item
                +e.time Прямо сейчас!
              +e.item
                +e.time 15 минут
                +e.text Специалист связывается с вами
              +e.item
                +e.time В течение 2х часов
                +e.text Согласование необходимого перечня документов, сроков исполнения
              +e.item
                +e.time В течение суток
                +e.text Дистанционная подготовка документов и исполнение заказов


      +b.service.row
        +e.content.col-xs-12.col-lg-5
          +e.name
            +e.INPUT.input(type='checkbox', name='stage1')
            +e.H2.title Сертификация продукции и услуг
            +e.total-wrapper Итого
              +e.total-price 15 000 руб.
          +e.UL.list
            +e.item 
              //- +e.INPUT.input(type='checkbox', name='stage1')
              +e.text Консультация
              +e.price 0 руб.
            +e.item 
              +e.text Проведение испытаний
              +e.price 4500 руб.
            +e.item 
              +e.text Согласование макета сертификата
              +e.price 0 руб.
            +e.item 
              +e.text Оформление и регистрация документов
              +e.price 4500 руб.
            +e.item 
              +e.text Доставка
              +e.price 0 руб.
        +e.experts.col-xs-12.col-lg-2
          +e.gallery
            - for (var i = 0; i < 1; i++){
              +e.person(itemscope, itemtype="http://schema.org/Person")
                +e.img
                  img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
                +e.H3.name(itemprop="name") Ирина Сдлиннойфамилией
            - }
        +e.stages.col-xs-12.col-lg-5
          +b.service-stages
            +e.UL.list
              +e.item
                +e.time 15 минут
                +e.text Специалист связывается с вами
              +e.item
                +e.time За 3 дня
                +e.text Проведение испытаний
              +e.item
                +e.time За 4 дня
                +e.text Согласование макета разрешительных документов


      +b.service.row
        +e.content.col-xs-12.col-lg-5
          +e.name
            +e.INPUT.input(type='checkbox', name='stage1')
            +e.H2.title Бухгалтерские услуги
            +e.total-wrapper Итого
              +e.total-price 15 000 руб.
          +e.UL.list
            +e.item 
              //- +e.INPUT.input(type='checkbox', name='stage1')
              +e.text Консультация
              +e.price 0 руб.
            +e.item 
              +e.text Согласование и сдача отчетности
              +e.price 0 руб.
            +e.item 
              +e.text Составление учетной политики организации
              +e.price 4500 руб.
        +e.experts.col-xs-12.col-lg-2
          +e.gallery
            - for (var i = 0; i < 1; i++){
              +e.person(itemscope, itemtype="http://schema.org/Person")
                +e.img
                  img(src="img/manager1.png", alt="manager", title="manager", itemprop="image")
                +e.H3.name(itemprop="name") Ирина Сдлиннойфамилией
            - }
        +e.stages.col-xs-12.col-lg-5
          +b.service-stages
            +e.UL.list
              +e.item
                +e.time 15 минут
                +e.text Специалист связывается с вами
              +e.item
                +e.time За неделю
                +e.text Доставка документов курьером
