include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_specialist-item.pug

+b.SECTION.specialists
  +e.H2.title Наши специалисты
  +e.gallery
    +specialistItem('Екатерина Косова', 'Ekaterina_Kosova')
    +specialistItem('Ирина Сухова', 'Irina_Suhova')
    +specialistItem('Ирина Александрова', 'Irina_Alexandrova')
  +e.description Специалисты центра подготовят документы для открытия бизнеса, помогут просчитать риски и провести сертификацию
  .row
    .col-xs-12.col-lg-8.offset-lg-2
      include _steps.pug

