include ../abstracts/bemto/bemto.pug

+b.steps--wide
  +e.item
    +e.icon
    +e.index Шаг 1 
    +e.text Для начала работы с нами 
      a(href="#", data-form='application') оставьте заявку   
  +e.item
    +e.icon
    +e.index Шаг 2 
    +e.text Утвердите готовый бизнес-план  
  +e.item
    +e.icon
    +e.index Шаг 3 
    +e.text Вышлите скан копий для оформления 
  +e.btn
    +b.A.btn--border-red.--color-red(href="page-services.html") Узнать подробнее

