include ../abstracts/bemto/bemto.pug

+b.SECTION.subscribe
  .container
    .row
      .col-xs-12.col-lg-6.offset-lg-3
        +e.H2.title Подпишитесь чтобы быть в курсе
        +e.P.text Хочу получать новые бизнес-планы и новости
        +e.form
          // Form subscribe
          +b.SECTION.form--subscribe
            form(action='', method='')
              .form-group.field-email.required
                +e.INPUT.input(type='text', name='Email', placeholder='Ваш email')
                p.help-block Ошибка заполнения поля формы
              .form-group.field-branch
                +e.SELECT.select.branch-list
                  option Отрасль 1
                  option Отрасль 2
                  option Отрасль 3
                  option Отрасль 4
                  option Отрасль 5
              .form-group
                +b.BUTTON.btn--red(type='submit') Отправить
                p.help-block.help-block-success Ваша заявка отправлена

       
 
