include ../abstracts/bemto/bemto.pug

+b.success-story
  .container
    +e.H2.title Расскажите свою историю успеха!
    +e.btn
      +b.A.btn--border-white(href="#", data-form='success-story') Поделиться историей успеха

