<section class="consult">
  <h2 class="consult__title">Консультация экспертов</h2>
  <div class="staff staff--certificators row">
    <div class="col-xs-12 col-lg-4">
      <div class="staff__description">
        <div class="staff__icon"></div>
        <a class="staff__position" href="page-type-questions.html">Специалисты по сертификации</a>
        <div class="staff__text">готовы ответить на ваши вопросы 24/7 </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8">
      <div class="staff__gallery">
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="staff staff--lawyers row">
    <div class="col-xs-12 col-lg-4">
      <div class="staff__description">
        <div class="staff__icon"></div>
        <a class="staff__position" href="page-type-questions.html">Юристы центра</a>
        <div class="staff__text">проконсультируют по вопросам регистрации бизнеса </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8">
      <div class="staff__gallery">
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="staff staff--bookkeepers row">
    <div class="col-xs-12 col-lg-4">
      <div class="staff__description">
        <div class="staff__icon"></div>
        <a class="staff__position" href="page-type-questions.html">Бухгалтерская поддержка</a>
        <div class="staff__text">по расчетам и налогообложению</div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8">
      <div class="staff__gallery">
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
        <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="staff__img">
            <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
          </div>
          <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
        </div>
      </div>
    </div>
  </div>
</section>