<section class="consult">
  <h2 class="consult__title">Консультация экспертов</h2>
  <div class="staff staff--certificators row">
    <div class="staff__description col-xs-12 col-lg-4">
      <div class="staff__icon"></div>
      <div class="staff__position">Специалисты по сертификации</div>
      <div class="staff__text">готовы ответить на ваши вопросы 24/7 </div>
    </div>
    <div class="staff__gallery col-xs-12 col-lg-8">
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
    </div>
  </div>
  <div class="staff staff--lawyers row">
    <div class="staff__description col-xs-12 col-lg-4">
      <div class="staff__icon"></div>
      <div class="staff__position">Юристы центра</div>
      <div class="staff__text">проконсультируют по вопросам регистрации бизнеса </div>
    </div>
    <div class="staff__gallery col-xs-12 col-lg-8">
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
    </div>
  </div>
  <div class="staff staff--bookkeepers row">
    <div class="staff__description col-xs-12 col-lg-4">
      <div class="staff__icon"></div>
      <div class="staff__position">Бухгалтерская поддержка</div>
      <div class="staff__text">проконсультируют по вопросам регистрации бизнеса </div>
    </div>
    <div class="staff__gallery col-xs-12 col-lg-8">
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
      <div class="staff__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="staff__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <h3 class="staff__name" itemprop="name">Ирина Владимирова</h3>
      </div>
    </div>
  </div>
</section>