<section class="expert-help">
  <div class="container">
    <h2 class="expert-help__title">Помощь от идеи до старта</h2>
    <div class="expert-help__gallery">
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
      <div class="expert-help__person" itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="expert-help__img">
          <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
        </div>
        <div class="expert-help__name" itemprop="name">Ирина Сдлиннойфамилией</div>
      </div>
    </div>
    <div class="expert-help__description">Специалисты центра подготовят документы для открытия бизнеса, помогут просчитать риски и провести сертификацию</div>
    <div class="expert-help__form">
      <!-- Form expert help-->
      <section class="form form--expert-help">
        <form action="" method="">
          <h3 class="form__title">Обратитетсь к нам за комплексной помощью или только по оформлению этой бизнес-идеи</h3>
          <div class="form-group field-name required">
            <input class="form__input" type="text" name="Имя" placeholder="Ваше имя" />
            <p class="help-block">Ошибка заполнения поля формы</p>
          </div>
          <div class="form-group field-tel">
            <input class="form__input" type="tel" name="Телефон" placeholder="Ваш телефон" />
            <p class="help-block">Ошибка заполнения поля формы</p>
          </div>
          <div class="form-group field-email">
            <input class="form__input" type="tel" name="Email" placeholder="Ваш email" />
            <p class="help-block">Ошибка заполнения поля формы</p>
          </div>
          <div class="form-group">
            <button class="btn btn--blue btn--border-white" type="submit">Отправить</button>
            <p class="help-block help-block-success">Ваша заявка отправлена</p>
          </div>
        </form>
      </section>
    </div>
    <div class="expert-help__steps">
      <div class="steps steps--wide">
        <div class="steps__item">
          <div class="steps__icon"></div>
          <div class="steps__index">Шаг 1 </div>
          <div class="steps__text">Для начала работы с нами
            <a href="#">оставьте заявку </a>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__icon"></div>
          <div class="steps__index">Шаг 2 </div>
          <div class="steps__text">Утвердите готовый бизнес-план </div>
        </div>
        <div class="steps__item">
          <div class="steps__icon"></div>
          <div class="steps__index">Шаг 3 </div>
          <div class="steps__text">Вышлите скан копий для оформления </div>
        </div>
        <div class="steps__btn">
          <a class="btn btn--border-red btn--color-red" href="page-services.html">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>