<!-- Footer-->
<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
          <!-- Logo-->
          <a class="logo logo--footer" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
            <span class="blue">Единый портал</span>
            <span class="red">бизнес услуг</span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-5 offset-sm-2 col-md-3 offset-md-5 col-lg-2 offset-lg-0 flex-lg-last">
          <div class="footer__btn">
            <a class="btn btn--blue btn--footer" href="#">Свяжитесь со мной</a>
          </div>
        </div>
        <div class="col-xs-12 col-lg-7 col-xl-8">
          <!-- Nav-->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="page-business.html">Бизнес-планы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-services.html">Услуги</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-expert.html">Эксперты и консультация</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-reviews.html">Отзывы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-contacts.html">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>