<!-- Header-->
<header class="header">
  <div class="header__inner">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-sm-5 col-lg-3 col-xl-2">
          <div class="header__logo">
            <!-- Logo-->
            <a class="logo logo--header" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
              <img src="img/logo.svg" alt="logo" title="logo" itemprop="logo" />
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 hidden-lg">
          <div class="header__hamburger">
            <a class="hamburger" href="#">
              <span></span>
            </a>
          </div>
        </div>
        <div class="col-xs-12 flex-sm-last col-lg-7 flex-lg-unordered col-xl-8">
          <!-- Nav-->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="page-business.html">Бизнес-планы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-services.html">Услуги</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-questions.html">Эксперты и консультация</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-reviews.html">Отзывы</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm-4 offset-sm-1 col-lg-2 offset-lg-0">
          <div class="header__btn">
            <a class="btn btn--blue btn--header" href="#" data-form="call">Свяжитесь со мной</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>