<section class="questions">
  <div class="container">
    <h2 class="questions__title">Отвечают эксперты</h2>
    <div class="row">
      <div class="questions-type questions-type--certificators col-xs-12 col-lg-4">
        <div class="questions-type__inner">
          <h3 class="questions-type__title">
            <span class="questions-type__icon"></span>
            <span class="questions-type__branch">Специалисты по сертификации</span>
          </h3>
          <div class="questions-type__articles">
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
          </div>
          <div class="questions-type__btn">
            <a class="btn btn--border-red btn--color-red" href="#">Все вопросы</a>
          </div>
        </div>
      </div>
      <div class="questions-type questions-type--lawyers col-xs-12 col-lg-4">
        <div class="questions-type__inner">
          <h3 class="questions-type__title">
            <span class="questions-type__icon"></span>
            <span class="questions-type__branch">Юристы центра</span>
          </h3>
          <div class="questions-type__articles">
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
          </div>
          <div class="questions-type__btn">
            <a class="btn btn--border-red btn--color-red" href="#">Все вопросы</a>
          </div>
        </div>
      </div>
      <div class="questions-type questions-type--bookkeepers col-xs-12 col-lg-4">
        <div class="questions-type__inner">
          <h3 class="questions-type__title">
            <span class="questions-type__icon"></span>
            <span class="questions-type__branch">Бухгалтерская поддержка</span>
          </h3>
          <div class="questions-type__articles">
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
            <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
              <div class="order">
                <span class="index">Вопрос №1</span>
                <span class="date">13.09.2016 </span>
              </div>
              <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
                <div class="question__text" itemprop="citation">
                  <p>Что необходимо оформить для реализации мороженого в магазинах?</p>
                </div>
              </div>
              <div class="question__answer" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Answer">
                <div class="question__text" itemprop="citation">
                  <p>Необходимо подготовить всю документацию, обратиться к нам в отдел и связаться со специалистом...</p>
                </div>
                <div class="question__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                  <div class="question__img">
                    <img src="img/manager1.png" alt="manager" title="manager" itemprop="image" />
                  </div>
                  <div class="question__name" itemprop="name">Ирина Владимирова</div>
                </div>
              </div>
              <a class="question__link" href="single-question.html">Читать подробнее</a>
            </article>
          </div>
          <div class="questions-type__btn">
            <a class="btn btn--border-red btn--color-red" href="#">Все вопросы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>