<div class="question-type-choise">
  <div class="container">
    <div class="question-type-choise__inner">
      <ul class="question-type-choise__list">
        <li class="question-type-choise__item">
          <a class="question-type-choise__link" href="page-type-questions.html">Регистрация бизнеса</a>
        </li>
        <li class="question-type-choise__item">
          <a class="question-type-choise__link question-type-choise__link--active" href="page-type-questions.html">Сертификация</a>
        </li>
        <li class="question-type-choise__item">
          <a class="question-type-choise__link" href="page-type-questions.html">Бухгалтерские услуги</a>
        </li>
      </ul>
      <!-- Search-->
      <div class="search">
        <form class="search__form">
          <input class="search__input" type="text" name="Вопрос" placeholder="Ваш вопрос" />
          <button class="btn btn--red" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </div>
</div>