<section class="reviews">
  <div class="container">
    <div class="reviews__articles">
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!!</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
      <article class="review-item" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__person" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
          <div class="review-item__info">
            <div class="review-item__name" itemprop="name">Ирина Владимирова</div>
            <div class="review-item__date">13.09.2016</div>
          </div>
          <div class="review-item__img">
            <img src="img/client1.png" alt="manager" title="manager" itemprop="image" />
          </div>
        </div>
        <div class="review-item__text" itemprop="reviewBody">
          <p>Я в полном восторге! Это восхитительно! Мне совершенно не нужно было париться - я просто отдала необходимые бумажки, и далее ребята все сдеали за меня - все организовали... </p>
          <p>Спасибо!!!! Без вас я бы точно никогда не справилась))))</p>
        </div>
      </article>
    </div>
    <div class="reviews__btn">
      <a class="btn btn--border-red btn--color-red" href="#">Показать еще</a>
    </div>
  </div>
</section>